{{ attach_library('parc_core/indicators') }}
{{ attach_library('edwt/tooltip') }}
{{ attach_library('parc/popover') }}
{{ attach_library('parc/parc-popper') }}

<div class="indicator-chart__wrapper">
  <div class="indicator-chart" id="indicator-chart-{{ id }}" data-chart-type="{{ chart_type }}" data-chart-id="{{ id }}" data-indicator-id="{{ indicator_id }}">
    <div class="indicator-scrollable-container"><div class="indicator-container"></div></div>
  </div>
</div>
