<div class="projects-chart">
  <svg class="projects-svg">
    {% for project in projects %}
      {% for keyword in project.keywords %}
        <path stroke-linecap="round" class="projects-hoverable-path keyword-path" data-project="{{ project.id }}" data-keyword="{{ keyword }}" d="" stroke="{{ keywords[keyword].color }}" stroke-width="2" fill="none" />
      {% endfor %}
      {% for topic in project.topics %}
        <path stroke-linecap="round" class="projects-hoverable-path topic-path" data-project="{{ project.id }}" data-topic="{{ topic }}" d="" stroke="{{ topics[topic].color }}" stroke-width="8" fill="none" />
      {% endfor %}
    {% endfor %}
  </svg>
  <div class="left-col">
    <div class="col-title">
      {{ "Topics" | t }}
    </div>
    {% for id, topic in topics %}
      <div data-topic="{{ id }}" class="project-topic" style="height: {{ topic.percentage }}%;">
        <span class="projects-hoverable">
          {{ topic.name }}
        </span>
      </div>
    {% endfor %}
  </div>
  <div class="middle-col">
    <div class="col-title">
      {{ "Stories" | t }}
    </div>
    {% for project in projects %}
      <div data-project="{{ project.id }}" class="project-title">
        <span class="projects-hoverable">
          {{ project.name }}
        </span>
        <a target="_blank" class="icon" href="{{ project.url }}">
          <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.79956 1H6.32454C6.96259 1 7.56587 1.57529 7.56587 2.18374L7.56587 5.76558" stroke="#040404" stroke-width="1.5" stroke-linecap="round"></path>
            <line x1="4.8999" y1="4.161" x2="1.06066" y2="8.00024" stroke="#040404" stroke-width="1.5" stroke-linecap="round"></line>
          </svg>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="right-col">
    <div class="col-title">
      {{ "Keywords" | t }}
    </div>
    {% for id, keyword in keywords %}
      <div data-keyword="{{ id }}" class="project-keyword" style="height: {{ keyword.percentage }}%;">
        <span class="projects-hoverable">
          {{ keyword.name }}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
