{{ attach_library('edwt/tooltip') }}
{{ attach_library('parc/popover') }}
{{ attach_library('parc/parc-popper') }}

{% set click_text = "Click to view the publication" | t %}

<div class="indicator-chart__wrapper" id="publicationsChart">
  <div class="indicators-timeline indicator-chart">
    <div class="indicator-scrollable-container mt-2">
      <div class="indicator-container">
        {% for year_key, year in items %}
          {% for month_key, month in year %}
            <div class="column {{year_key}}">
              {% for item in month %}
                <a data-bs-html="true" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="<p><b>{{ item.title }}</b></p>{{ click_text }}" target="_blank" class="image" href="{{ item.link }}">{{ item.image }}</a>
                {% endfor %}
                <div class="date">
                  {{ month_key }}
                </div>
            </div>
          {% endfor %}  
        {% endfor %}
      </div>
    </div>
  </div>
</div>
