{#
/**
 * @file
 * Parc override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set clean_class_plugin_id = plugin_id|clean_class %}

{{ attach_library('parc/tooltip') }}
{{ attach_library('parc/facets') }}
{{ attach_library('parc/facets_ajax') }}
{{ attach_library('edwt/collapse') }}
{{ attach_library('edwt/accordion') }}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}

  {% if is_first_facet %}
    <div class="facets-top">
      <div class="facets-section-title">
        {{ "Filter" | t }}
      </div>

      {% if reset_url %}
        <a class="reset-filters {{ not reset_url_visible ? 'hidden' }}" href="{{ reset_url }}">{{ "Reset filters" | t }}</a>
      {% endif %}
    </div>
  {% endif %}

  {% if label %}
    <a class="facets-collapse accordion-button" data-bs-toggle="collapse" href="#collapse{{ clean_class_plugin_id }}" role="button" aria-expanded="true" aria-controls="collapse{{ clean_class_plugin_id }}">
      <h3 class="facets-title">{{ label }}</h3>
    </a>
  {% endif %}

  <div class="collapse show" id="collapse{{ clean_class_plugin_id }}">
    {% block content %}
      <div{{content_attributes.addClass('block__content')}}>
        {{- content -}}
      </div>
    {% endblock %}
  </div>
  {{ title_suffix }}

</div>
