{{ attach_library('parc/b--call-to-action') }}

{% if style == 'blue' %}
  {% set main_color = '#AED3FF' %}
  {% set secondary_color = '#1E2094' %}
{% elseif style == 'green' %}
  {% set main_color = '#008475' %}
  {% set secondary_color = '#B0E5DF' %}
{% elseif style == 'purple' %}
  {% set main_color = '#E1BAFF' %}
  {% set secondary_color = '#8631A7' %}
{% endif %}

{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'call-to-action',
  'call-to-action--' ~ style,
  has_text ? 'js-expand',
  has_subtitle ? 'call-to-action--with-subtitle',
]
%}

<div {{attributes.addClass(classes)}} data-expand-target="call-to-action-{{ id }}" style="--main-color: {{ main_color }}; --secondary-color: {{ secondary_color }}">
  {{ title_prefix }}
  {% if label %}
    <h2{{title_attributes.addClass('block--title')}}>
      {{- label -}}
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div class="call-to-action__visible">
    {% if has_image %}
      <div class="call-to-action__image">{{ content.field_media_image }}</div>
    {% endif %}
    <div class="call-to-action__main">
      <div class="call-to-action__right-wrapper">
        <div class="call-to-action__main__title {% if not has_subtitle %}svg-title{% endif %}">{{ content.field_title }}</div>
        {% if has_subtitle %}
          <div class="call-to-action__main__subtitle">{{ content.field_subtitle }}</div>
        {% endif %}
        {% if has_link %}
          <div class="call-to-action__main__link">{{ content.field_link }}</div>
        {% endif %}

        {% if has_text %}
          <div class="call-to-action__main__expand-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="29" viewBox="0 0 18 29" fill="none">
              <path d="M1.63483 1.35156L14.0358 11.6057C15.8698 13.1222 15.8698 15.5809 14.0358 17.0974L1.63482 27.3516" stroke="black" stroke-width="3" stroke-linecap="round"/>
            </svg>
          </div>
        {% endif %}
      </div>

      {% if has_text %}
        <div class="call-to-action__main__description" data-expand="call-to-action-{{ id }}">{{ content.body }}</div>
      {% endif %}
    </div>
  </div>
</div>
