{#
/**
 * @file
 * Parc theme implementation to display a two-column layout.
 */
#}

{% set id = content["#settings"]["label"]|clean_class %}

{% set classes = [
  'layout',
  'row',
  'position-relative',
  'container-content',
  'node--content-pb',
] %}

{% if content %}
  <div{{attributes.addClass(classes).setAttribute('id',id)}}>
    {% if content.first or content.menu %}
      <div class='col-12 col-lg col-menu d-flex flex-column'>
        <div{{region_attributes.menu.addClass('col-menu-sticky','flex-grow-1')}}>
          <div class="sticky-top">
            {{ content.menu }}
          </div>
        </div>

        <div{{region_attributes.first.addClass('layout_region')}}>
          {{ content.first }}
        </div>
      </div>
    {% endif %}

    {% if content.second %}
      <div{{region_attributes.second.addClass('layout_region','col-12','col-lg','col-content')}}>
        {{ content.second }}
      </div>
    {% endif %}
  </div>
{% endif %}
