{#
/**
 * @file
 * Parc theme implementation to display a two-column layout.
 */
#}

{% set id = content["#settings"]["label"]|clean_class %}

{% if attributes.hasClass('add-container') %}
  {% set attributes = attributes.removeClass('add-container') %}
  {% set addClass = TRUE %}
{% endif %}

{% set classes = [
  'row',
  'align-items-start',
  'position-relative',
] %}

{% if content %}
  {% if addClass %}
    <div class="container node--content-pb">
  {% endif %}

    <div{{attributes.addClass(classes).setAttribute('id', id).removeClass('layout--twocol-section--33-67')}}>
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout_region', 'col-12 col-lg col-menu', 'sticky-top') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout_region', 'col-12 col-lg col-content') }}>
          {{ content.second }}
        </div>
      {% endif %}
    </div>

  {% if addClass %}
    </div>
  {% endif %}
{% endif %}
