{#
/**
 * @file
 * Parc theme implementation for a field.
 */
#}

<{{wrapper_element}} {{ attributes }}>
  {% if title %}
    <{{title_element}}{{title_attributes}}>
      {{- title }}
    </{{title_element}}>
  {% endif %}

  <div class="comma-divider">
    {{- children -}}
  </div>
</{{wrapper_element}}>
