{#
/**
 * @file
 * Parc theme implementation for a field.
 */
#}

{%
  set classes = [
    'field',
    'field-media',
    'field-media--download-link',
    field_name|clean_class,
    'd-flex',
    'justify-content-between',
    'align-items-center',
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% for item in items %}
    {% set link = file_url(item.content['#file'].uri.0.value) %}

    <a href="{{ link }}" type="{{ item.content['#file'].filemime.0.value }}" class="btn btn-clear btn-download" download>
      {{- 'Download'|t -}}
      <svg width=" 11" height=" 12" viewbox=" 0 0 11 12" fill=" none" xmlns=" http://www.w3.org/2000/svg">
        <path d="M0.849609 11.1204H10.8496H0.849609ZM9.31115 5.3113L5.84961 8.38671L9.31115 5.3113ZM5.84961 8.38671L2.38807 5.3113L5.84961 8.38671ZM5.84961 8.38671C5.84961 8.38671 5.84961 5.76692 5.84961 0.527344V8.38671Z" fill="white"/>
        <path d="M0.849609 11.1204H10.8496M9.31115 5.3113L5.84961 8.38671M5.84961 8.38671L2.38807 5.3113M5.84961 8.38671C5.84961 8.38671 5.84961 5.76692 5.84961 0.527344" stroke="#FCFCFC" stroke-width="1.3"/>
      </svg>
    </a>

    <button class="btn--d--clipboard btn btn-clear" data-clipboard="{{ link }}">
      <svg width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.55045 2.76338C7.35986 2.94691 7.05083 2.94691 6.86041 2.76338C6.66983 2.58 6.66983 2.2824 6.86041 2.09903L7.55912 1.42601C8.65464 0.371018 10.4311 0.371018 11.5266 1.42601C12.6223 2.48117 12.6223 4.19169 11.5266 5.24685L8.76664 7.90468C7.67112 8.95967 5.89471 8.95967 4.79919 7.90468C4.6086 7.72114 4.6086 7.42371 4.79919 7.24017C4.98961 7.05663 5.29864 7.05663 5.48923 7.24017C6.20357 7.92826 7.36209 7.92826 8.07665 7.24017L10.8366 4.58234C11.5511 3.89426 11.5511 2.7786 10.8366 2.09052C10.1222 1.40243 8.96372 1.40243 8.24916 2.09052L7.55045 2.76338Z" fill="white" stroke="#FCFCFC" stroke-width="0.3"/>
        <path d="M5.36043 9.85881C5.55102 9.67527 5.85988 9.67527 6.05047 9.85881C6.24106 10.0423 6.24106 10.3398 6.05047 10.5233L5.35177 11.1962C4.25607 12.2513 2.47984 12.2513 1.38414 11.1962C0.28862 10.1412 0.28862 8.43049 1.38414 7.3755L4.14424 4.71767C5.23977 3.66251 7.01617 3.66251 8.1117 4.71767C8.30228 4.90104 8.30228 5.19864 8.1117 5.38218C7.92111 5.56555 7.61225 5.56555 7.42166 5.38218C6.70714 4.69409 5.54863 4.69409 4.83411 5.38218L2.07418 8.04001C1.35966 8.72809 1.35966 9.84375 2.07418 10.5317C2.7887 11.2198 3.94721 11.2198 4.66173 10.5317L5.36043 9.85881Z" fill="white" stroke="#FCFCFC" stroke-width="0.3"/>
      </svg>
    </button>
  {% endfor %}
