{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--basic-page-full') }}
{{ attach_library('parc/chemicals') }}

{% embed 'parc:tabs-header' with {
  title: 'Chemicals',
  color: '#B0E5DF',
  menu_entries: [
    {
      title: 'Overview',
      link: '/chemicals',
      is_active: false
    },
    {
      title: 'Health Effects',
      link: '/chemicals/health-effects',
      is_active: true
    },
    {
      title: 'Exposure Sources',
      link: '/chemicals/exposure-sources',
      is_active: false
    }
  ]
} %}
{% endembed %}

<div class="container-chemicals">
  {% embed 'parc:chemicals-interactive-body' %}{% endembed %}

  {% for id, faq_group in faq_groups %}
    <div style="--primary-color: {{ faq_group.color }}; display: none;" class="faq-group" data-faq-group="{{ id }}">
      <h3>{{ "Related questions" }}</h3>

      {{ faq_group.render }}
    </div>
  {% endfor %}

  {{ drupal_view('chemicals', 'list') }}
</div>
