{#
/**
 * @file
 * Parc theme implementation for a field.
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  <div{{title_attributes.addClass(title_classes,'f-label')}}>
    {{- label -}}
  </div>

  <div>
    {%- for item in items -%}
      {{ item.content }}{{ not loop.last ? ', '}}
    {%- endfor -%}
  </div>
</div>
