{#
/**
 * @file
 * Parc Component.
 */
#}

{{ attach_library('parc/s--footer') }}

{% set footer_attribute = create_attribute() %}

<footer {{ footer_attribute.setAttribute('id', 'footer').addclass('p-0') }}>
  <div class='bg-blue py-4'>
    <div class="container-fluid container-content">
      <div class="row row-top align-items-start">
        {{- page.prefooter -}}
      </div>
    </div>
  </div>

  <div class="bg-green py-4">
    <div class="container-fluid container-content pb-3">
      <div class="row row-top align-items-start">
        {{- page.footer -}}
        {{- page.footer_second -}}
      </div>

      {{ page.footer_s }}
    </div>
  </div>
</footer>
