{#
/**
 * @file
 * Parc Component.
 */
#}

{{ attach_library('parc/s--footer') }}

{% set footer_attribute = create_attribute() %}

<footer {{ footer_attribute.setAttribute('id', 'footer').addclass('p-0') }}>
  <div class="bg-green py-4">
    <div class="container-fluid container-content pb-1">
      <div class="row row-top">
        <div class="col-12 col-md-6 d-flex justify-content-between flex-column leftCol">
          {{- page.footer -}}
          {{- page.footer_s -}}
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
          {{- page.footer_second -}}
        </div>
      </div>
    </div>
    <div class="footer-logos">
      <div class="container-fluid container-content">
        <div class="row align-items-center">
          {{- page.prefooter -}}
        </div>
      </div>
    </div>
  </div>
</footer>
