{#
/**
 * @file
 * Parc implementation for views to display rows in a grid.
 */
#}
{%
  set classes = [
    'views-view-grid',
    'clearfix',
  ]
%}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div{{attributes.addClass(classes)}}>
  {% for row in items %}
    <div{{row.attributes.addClass(row_classes,row.content|length<4?'':'visible-last-xl')}}>
      {% for column in row.content %}
        {% if row.content|length < 4 %}
          {% set cl = "col-12 col-lg" %}
        {% else %}
          {% set cl = "col-lg-4 col-xl-3" %}
        {% endif %}

        <div class="{{ cl }}">
          {{- column.content -}}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
