{#
/**
 * @file
 * Parc implementation for views to display rows in a grid.
 */
#}
{%
  set classes = [
    'views-view-grid',
    ]
%}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div{{attributes.addClass(classes)}}>
  {% for row in items %}
    <div{{row.attributes.addClass(row_classes)}}>
      {% for column in row.content %}
        {% set cl = "col-12 col-lg-6 col-xl" %}
        {# {% if row.content|length < 4 %}
                        {% else %}
                          {% set cl = "col-lg-4 col-xl-3" %}
                        {% endif %} #}

        <div class="{{ cl }}">
          {{- column.content -}}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
