{#
/**
 * @file
 * Parc override to display a taxonomy term.
 */
#}

{{ attach_library('parc/t--thematic-areas--card') }}

{%
  set classes = [
    't-term',
    't-term--' ~ term.bundle|clean_class,
    view_mode ? 't-term--' ~ term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'svg-hover-effect',
    'position-relative',
  ]
%}

<div{{attributes.setAttribute('id','taxonomy-term-'~term.id).setAttribute('style','--tta--c:'~content.field_color.0|render).addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ content|without('field_color') }}

  <div class="t-term--name">
    <a class="stretched-link d-flex justify-content-between" href="{{ url }}">
      {{- name -}}
      <svg width="13" height="12" viewbox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 1H9.56782C10.2059 1 10.8091 1.57529 10.8091 2.18374L10.8091 7.80811" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        <line x1="7" y1="5.06066" x2="1.06066" y2="11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    </a>
  </div>
</div>
