{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% if items|length > 1 %}
    {% set count = items|length %}
    {% set ds = items[0].content.start.date.value['#markup']|split('.') %}
    {% set de = items[count-1].content.start.date.value['#markup']|split('.') %}

    {% if ds.0 != de.0 %}
      {{ ds.2 }}.{{ ds.1 }}{{ ' — ' }}
      {{ de.2 }}.{{ de.1 }}
    {% elseif ds.1 != de.1 %}
      {{ de.2 }}.{{ ds.1 }}{{ ' — ' }}
      {{ de.2 }}.{{ de.1 }}
    {% elseif ds.2 != de.2 %}
      {{ ds.2 }}{{ ' — ' }}
      {{ de.2 }}.{{ de.1 }}
    {% endif %}
  {% else %}
    {%- for item in items -%}
      {% set data = item.content['#paragraph'].field_date.0.value|split('-') %}
      {% set year = data.0 %}
      {% set month = data.1 %}
      {% set day = data.2 %}

      {{- day }}.{{ month }}.{{ day -}}
    {% endfor %}
  {% endif %}
</div>

<div class="only-year">
  {% if items|length > 1 %}
    {% set count = items|length %}
    {% set ds = items[0].content.start.date.value['#markup']|split('.') %}
    {% set de = items[count-1].content.start.date.value['#markup']|split('.') %}
    {% if ds.0 != de.0 %}
      {{ ds.0 }}{{ ' — ' }}{{ de.0 }}
    {% else %}
      {{ ds.0 }}
    {% endif %}
  {% else %}
    {%- for item in items -%}
      {% set data = items[0].content.start.date.value['#markup']|split('.') %}
      {% set year = data.0 %}
      {{ day -}}
    {% endfor %}
  {% endif %}
</div>
