{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% if items|length > 1 %}
    {% set count = items|length %}
    {% set ds = items[0].content.start.date.value['#markup']|split('.') %}
    {% set de = items[count-1].content.start.date.value['#markup']|split('.') %}

    {% if ds.0 != de.0 %}
      {{ ds.2 }}.{{ ds.1 }}{{ ' — ' }}
      {{ de.2 }}.{{ de.1 }}
    {% elseif ds.1 != de.1 %}
      {{ de.2 }}.{{ ds.1 }}{{ ' — ' }}
      {{ de.2 }}.{{ de.1 }}
    {% elseif ds.2 != de.2 %}
      {{ ds.2 }}{{ ' — ' }}
      {{ de.2 }}.{{ de.1 }}
    {% endif %}
  {% else %}
    {%- for item in items -%}
      {% set start = item.content.start.date.value['#markup'] %}
      {% set end = item.content.end.date.value['#markup'] %}
      {% set dsd = start|split('.').0 %}
      {% set dsm = start|split('.').1 %}
      {% set dsy = start|split('.').2 %}

      {% if end %}
        {% set ded = end|split('.').0 %}
        {% set dem = end|split('.').1 %}
        {% set dey = end|split('.').2 %}

        {% if dsy != dey %}
          {{ dsd }}.{{ dsm }}.{{ dsy }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsm != dem %}
          {{ ded }}.{{ dsm }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsd != ded %}
          {{ dsd }}{{ ' — ' }}
          {{ ded }}.{{ dsm }}.{{ dsy }}
        {% endif %}
      {% else %}
        {{ dsd }}.{{ dsm }}.{{ dsy }}
      {% endif %}
    {%- endfor -%}
  {% endif %}
</div>
<div class="only-year">
  {% if items|length > 1 %}
    {% set count = items|length %}
    {% set ds = items[0].content.start.date.value['#markup']|split('.') %}
    {% set de = items[count-1].content.start.date.value['#markup']|split('.') %}
    {% if ds.0 != de.0 %}
      {{ ds.0 }}{{ ' — ' }}{{ de.0 }}
    {% else %}
      {{ ds.0 }}
    {% endif %}
  {% else %}
    {%- for item in items -%}
      {% set data = items[0].content.start.date.value['#markup']|split('.') %}
      {% set year = data.0 %}
      {{ day -}}
    {% endfor %}
  {% endif %}
</div>
