{#
/**
 * @file
 * Parc theme implementation for policy briefs view.
 */
#}

{{ attach_library('parc/v--policy-briefs') }}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}
</div>
