{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--article-compact') }}

{% set color = node.field_tags.entity.field_color.value.0.color %}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<article{{attributes.addClass(classes).setAttribute('style','--nn-c-cat:'~color~';')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ content.field_image }}

  <div class="container-head">
    <div class="meta d-flex justify-content-between fw-bold">
      {{- content.field_tags -}}

      <div class="field-date">
        {{- date -}}
      </div>
    </div>

    <h1 class="node-title fw-bold">
      {{- label -}}
    </h1>
  </div>


  {{ content.body }}
  {{ content|without('body', 'field_image', 'field_tags')}}
</article>
