{#
/**
 * @file
 * Parc override to display a taxonomy term.
 */
#}

{{ attach_library('parc/t--thematic-areas--full') }}

{%
  set classes = [
    't-term',
    't-term--' ~ term.bundle|clean_class,
    view_mode ? 't-term--' ~ term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<div{{attributes.setAttribute('id','taxonomy-term-'~term.id).setAttribute('style','--tta--c-heading:'~term.field_color.0.color).addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ content }}
</div>
