{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  'node--page--full',
] %}

{{ attach_library('parc/n--page-full') }}
{{ attach_library('parc/n--project-full') }}

<div class="projects-page">
  <div class="layout">
    <header>
      <div class="svg-title d-flex justify-content-center">
        <svg width="429" height="41" viewBox="0 0 429 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.800944 2.48C0.800944 1.528 1.58494 0.799997 2.48094 0.799997C3.43294 0.799997 4.16094 1.528 4.16094 2.48C4.16094 3.432 3.43294 4.16 2.48094 4.16C1.58494 4.16 0.800944 3.432 0.800944 2.48ZM5.05694 23.368C5.05694 22.472 5.78494 21.8 6.68094 21.8H15.6409C21.8009 21.8 25.6089 18.328 25.6089 12.896C25.6089 7.352 22.0249 4.104 15.6409 4.104H6.68094C5.78494 4.104 5.05694 3.376 5.05694 2.48C5.05694 1.584 5.78494 0.855997 6.68094 0.855997H15.6409C19.6169 0.855997 22.8089 1.92 25.2169 4.048C27.5689 6.064 28.8569 9.2 28.8569 12.896C28.8569 16.48 27.5689 19.56 25.2169 21.8C22.7529 23.872 19.5609 25.048 15.6409 25.048H6.68094C5.78494 25.048 5.05694 24.264 5.05694 23.368ZM0.856944 6.792C0.856944 5.896 1.64094 5.112 2.53694 5.112C3.43294 5.112 4.04894 5.896 4.04894 6.792V18.664C4.04894 19.56 3.43294 20.288 2.53694 20.288C1.64094 20.288 0.856944 19.56 0.856944 18.664V6.792ZM0.800944 23.368C0.800944 22.472 1.64094 21.744 2.53694 21.744C3.43294 21.744 4.16094 22.472 4.16094 23.368C4.16094 24.32 3.43294 25.104 2.53694 25.104C1.64094 25.104 0.800944 24.32 0.800944 23.368ZM0.856944 27.904C0.856944 27.008 1.64094 26.168 2.53694 26.168C3.43294 26.168 4.16094 27.008 4.16094 27.904V38.32C4.16094 39.272 3.43294 40 2.53694 40C1.64094 40 0.856944 39.272 0.856944 38.32V27.904ZM53.78 0.799997C54.676 0.799997 55.46 1.528 55.46 2.48C55.46 3.432 54.676 4.16 53.78 4.16C52.828 4.16 52.1 3.432 52.1 2.48C52.1 1.528 52.828 0.799997 53.78 0.799997ZM46.332 20.568C46.108 20.568 45.884 20.568 45.716 20.456C44.876 20.12 44.428 19.168 44.82 18.328L49.804 6.008C50.14 5.168 51.148 4.776 51.988 5.112C52.828 5.448 53.22 6.4 52.884 7.24L47.844 19.56C47.564 20.176 46.948 20.568 46.332 20.568ZM61.564 20.568C60.948 20.568 60.332 20.232 60.052 19.616L54.564 7.296C54.172 6.456 54.564 5.504 55.404 5.112C56.188 4.776 57.196 5.112 57.532 5.952L63.076 18.272C63.412 19.112 63.076 20.064 62.236 20.456C62.012 20.512 61.788 20.568 61.564 20.568ZM63.468 25.272C64.42 25.272 65.148 24.544 65.148 23.592C65.148 22.64 64.42 21.912 63.468 21.912C62.516 21.912 61.788 22.64 61.788 23.592C61.788 24.544 62.516 25.272 63.468 25.272ZM44.26 22.024C45.156 22.024 45.94 22.808 45.94 23.704C45.94 24.656 45.156 25.384 44.26 25.384C43.308 25.384 42.58 24.656 42.58 23.704C42.58 22.808 43.308 22.024 44.26 22.024ZM48.572 25.328C47.62 25.328 46.892 24.6 46.892 23.704C46.892 22.752 47.62 22.024 48.572 22.024H58.932C59.828 22.024 60.612 22.752 60.612 23.704C60.612 24.6 59.828 25.328 58.932 25.328H48.572ZM37.82 40C37.596 40 37.372 39.944 37.148 39.832C36.308 39.496 35.916 38.488 36.308 37.648L40.9 27.512C41.292 26.672 42.244 26.336 43.084 26.672C43.924 27.064 44.316 28.016 43.924 28.856L39.276 39.048C39.052 39.664 38.436 40 37.82 40ZM70.02 40C69.348 40 68.788 39.664 68.508 39.048L63.86 28.912C63.468 28.072 63.804 27.12 64.644 26.728C65.484 26.336 66.436 26.728 66.828 27.512L71.476 37.648C71.868 38.488 71.532 39.496 70.692 39.832C70.468 39.944 70.244 40 70.02 40ZM80.5966 0.799997C81.4926 0.799997 82.2766 1.584 82.2766 2.48C82.2766 3.376 81.4926 4.16 80.5966 4.16C79.7006 4.16 78.9166 3.376 78.9166 2.48C78.9166 1.584 79.7006 0.799997 80.5966 0.799997ZM100.533 24.04C99.9166 24.04 99.3566 23.648 99.0766 23.088C98.6846 22.248 99.0766 21.296 99.8606 20.904C102.885 19.504 104.621 16.648 104.621 12.952C104.621 7.52 101.205 4.16 95.7166 4.16H85.1326C84.2366 4.16 83.5086 3.432 83.5086 2.536C83.5086 1.64 84.2366 0.911999 85.1326 0.911999H95.7166C102.941 0.911999 107.869 5.728 107.869 12.952C107.869 17.88 105.349 21.968 101.261 23.872C101.037 23.984 100.813 24.04 100.533 24.04ZM80.5966 20.344C79.7006 20.344 78.9726 19.616 78.9726 18.72V6.792C78.9726 5.896 79.7006 5.168 80.5966 5.168C81.4926 5.168 82.2206 5.896 82.2206 6.792V18.72C82.2206 19.616 81.4926 20.344 80.5966 20.344ZM80.5966 21.744C81.4926 21.744 82.2766 22.528 82.2766 23.424C82.2766 24.32 81.4926 25.104 80.5966 25.104C79.7006 25.104 78.9166 24.32 78.9166 23.424C78.9166 22.528 79.7006 21.744 80.5966 21.744ZM96.2766 21.744C97.1726 21.744 97.9566 22.528 97.9566 23.424C97.9566 24.32 97.1726 25.104 96.2766 25.104C95.3806 25.104 94.5966 24.32 94.5966 23.424C94.5966 22.528 95.3806 21.744 96.2766 21.744ZM85.1326 25.048C84.2366 25.048 83.5086 24.32 83.5086 23.424C83.5086 22.528 84.2366 21.8 85.1326 21.8H91.7406C92.6366 21.8 93.3646 22.528 93.3646 23.424C93.3646 24.32 92.6366 25.048 91.7406 25.048H85.1326ZM103.333 39.608C102.717 39.608 102.157 39.272 101.821 38.712L98.3486 32.104L96.4446 28.688C95.9966 27.904 96.2766 26.896 97.1166 26.448C97.9006 26 98.9086 26.28 99.4126 27.064L101.317 30.536L104.789 37.144C105.237 37.984 104.901 38.992 104.117 39.384C103.837 39.552 103.613 39.608 103.333 39.608ZM80.5966 40C79.7006 40 78.9166 39.272 78.9166 38.32V27.904C78.9166 26.952 79.7006 26.224 80.5966 26.224C81.4926 26.224 82.2766 26.952 82.2766 27.904V38.32C82.2766 39.272 81.4926 40 80.5966 40ZM133.051 3.768C133.947 3.768 134.731 2.984 134.731 2.088C134.731 1.192 133.947 0.407999 133.051 0.407999C132.155 0.407999 131.371 1.192 131.371 2.088C131.371 2.984 132.155 3.768 133.051 3.768ZM115.187 17.992C115.187 14.968 115.971 12 117.315 9.536C119.667 5.168 123.363 2.088 128.067 0.799997C128.907 0.631999 129.803 1.136 130.083 1.976C130.363 2.872 129.803 3.768 128.907 3.992C125.099 5.056 122.187 7.464 120.227 11.048C119.219 13.176 118.435 15.472 118.435 17.992V18.664C118.435 19.56 117.707 20.288 116.811 20.288C115.915 20.288 115.187 19.56 115.187 18.664V17.992ZM136.019 2.144C136.187 1.248 137.027 0.631999 137.979 0.799997C143.019 1.696 147.219 4.72 149.515 8.976C149.963 9.816 149.571 10.824 148.787 11.272C148.563 11.44 148.283 11.496 148.059 11.496C147.443 11.496 146.827 11.16 146.547 10.6C144.699 7.128 141.451 4.776 137.419 3.992C136.411 3.88 135.795 3.04 136.019 2.144ZM116.811 25.216C117.707 25.216 118.491 24.432 118.491 23.536C118.491 22.584 117.707 21.8 116.811 21.8C115.915 21.8 115.131 22.584 115.131 23.536C115.131 24.432 115.915 25.216 116.811 25.216ZM116.027 28.912C115.747 28.072 116.195 27.12 117.091 26.784C117.931 26.392 118.939 26.896 119.163 27.736C120.843 32.384 124.091 35.52 128.683 36.808C129.579 37.088 130.083 37.928 129.859 38.824C129.635 39.608 128.963 40.056 128.291 40.056C128.067 40.056 127.955 40.056 127.787 40C122.243 38.488 117.987 34.512 116.027 28.912ZM135.739 38.656C135.571 37.816 136.187 36.92 137.083 36.752C141.227 35.856 144.643 33.448 146.547 30.032C146.995 29.248 148.059 28.968 148.787 29.36C149.627 29.808 149.963 30.816 149.515 31.6C147.051 36.024 142.907 38.992 137.811 40H137.419C136.635 40 135.963 39.496 135.739 38.656ZM133.051 40.448C133.947 40.448 134.731 39.664 134.731 38.768C134.731 37.872 133.947 37.088 133.051 37.088C132.155 37.088 131.371 37.872 131.371 38.768C131.371 39.664 132.155 40.448 133.051 40.448ZM214.137 0.352C215.033 0.352 215.817 1.136 215.817 2.088C215.817 2.928 215.033 3.712 214.137 3.712C213.241 3.712 212.457 2.928 212.457 2.088C212.457 1.136 213.241 0.352 214.137 0.352ZM209.489 19.392C209.321 19.392 209.097 19.336 208.929 19.28C204.113 17.6 201.705 14.52 201.705 10.208C201.705 5.504 204.561 2.032 209.489 0.799997C210.385 0.575997 211.337 1.136 211.561 2.032C211.785 2.984 211.225 3.936 210.329 4.216C206.913 5.056 205.177 7.072 205.177 10.208C205.177 13.792 207.753 15.248 210.049 16.032C210.945 16.368 211.449 17.32 211.113 18.216C210.889 18.944 210.217 19.392 209.489 19.392ZM224.665 11.048C223.937 11.048 223.265 10.544 223.097 9.816C222.369 6.904 220.577 4.944 217.889 4.104C216.993 3.824 216.545 2.816 216.825 1.976C217.105 1.136 218.001 0.631999 218.897 0.911999C222.649 2.088 225.281 5 226.345 8.976C226.569 9.928 226.009 10.768 225.113 10.992C224.945 11.048 224.833 11.048 224.665 11.048ZM214.081 16.984C214.977 16.984 215.761 17.768 215.761 18.72C215.761 19.56 214.977 20.344 214.081 20.344C213.185 20.344 212.401 19.56 212.401 18.72C212.401 17.768 213.185 16.984 214.081 16.984ZM218.729 40C218.057 40 217.385 39.552 217.217 38.824C217.049 37.984 217.553 37.088 218.393 36.864C221.305 36.192 224.777 34.176 224.777 28.8C224.777 24.32 222.705 21.688 218.337 20.624C217.497 20.4 216.993 19.56 217.217 18.72C217.441 17.88 218.281 17.376 219.121 17.6C224.889 19 227.969 22.864 227.969 28.8C227.969 34.512 224.721 38.6 219.121 39.944C219.009 40 218.841 40 218.729 40ZM209.489 39.944C209.321 39.944 209.209 39.888 209.041 39.888C203.833 38.488 200.529 34.624 200.137 29.528C200.025 28.576 200.753 27.792 201.705 27.68C202.657 27.624 203.553 28.352 203.609 29.248C203.889 32.944 206.129 35.464 209.937 36.472C210.833 36.752 211.393 37.76 211.169 38.656C210.945 39.44 210.217 39.944 209.489 39.944ZM214.249 36.92C215.145 36.92 215.929 37.704 215.929 38.656C215.929 39.496 215.145 40.28 214.249 40.28C213.353 40.28 212.569 39.496 212.569 38.656C212.569 37.704 213.353 36.92 214.249 36.92ZM236.881 4.048C235.985 4.048 235.257 3.32 235.257 2.424C235.257 1.528 235.985 0.799997 236.881 0.799997H247.689C248.585 0.799997 249.313 1.528 249.313 2.424C249.313 3.32 248.585 4.048 247.689 4.048H236.881ZM252.057 4.16C253.009 4.16 253.737 3.432 253.737 2.48C253.737 1.528 253.009 0.799997 252.057 0.799997C251.105 0.799997 250.377 1.528 250.377 2.48C250.377 3.432 251.105 4.16 252.057 4.16ZM256.369 4.048C255.473 4.048 254.745 3.32 254.745 2.424C254.745 1.528 255.473 0.799997 256.369 0.799997H267.177C268.073 0.799997 268.801 1.528 268.801 2.424C268.801 3.32 268.073 4.048 267.177 4.048H256.369ZM252.113 20.512C251.217 20.512 250.489 19.784 250.489 18.888V6.96C250.489 6.064 251.217 5.336 252.113 5.336C253.009 5.336 253.737 6.064 253.737 6.96V18.888C253.737 19.784 253.009 20.512 252.113 20.512ZM252.057 24.992C253.009 24.992 253.737 24.264 253.737 23.312C253.737 22.36 253.009 21.632 252.057 21.632C251.105 21.632 250.377 22.36 250.377 23.312C250.377 24.264 251.105 24.992 252.057 24.992ZM252.113 40C251.217 40 250.433 39.272 250.433 38.32V27.848C250.433 26.952 251.217 26.224 252.113 26.224C253.065 26.224 253.793 26.952 253.793 27.848V38.32C253.793 39.272 253.065 40 252.113 40ZM293.929 0.295997C294.881 0.295997 295.609 1.08 295.609 1.976C295.609 2.928 294.881 3.656 293.929 3.656C292.977 3.656 292.249 2.928 292.249 1.976C292.249 1.08 292.977 0.295997 293.929 0.295997ZM277.745 20.344C276.793 20.344 276.065 19.56 276.065 18.664V17.992C276.121 15.024 276.905 12.056 278.249 9.48C280.601 5.112 284.297 2.088 289.001 0.799997C289.897 0.519998 290.793 1.08 291.017 1.92C291.353 2.872 290.793 3.768 289.897 3.992C286.089 5.056 283.065 7.52 281.217 11.048C280.153 13.12 279.481 15.584 279.425 18.048V18.72C279.369 19.616 278.641 20.344 277.745 20.344ZM310.337 20.344C309.385 20.344 308.657 19.616 308.657 18.72L308.601 18.048C308.601 15.584 307.985 13.12 306.865 11.048C305.017 7.52 301.993 5.056 298.185 3.992C297.289 3.768 296.785 2.872 297.009 1.92C297.233 1.08 298.129 0.519998 299.081 0.799997C303.785 2.088 307.537 5.112 309.833 9.48C311.177 12.056 311.905 15.024 311.961 17.992L312.017 18.664C312.017 19.56 311.289 20.344 310.393 20.344H310.337ZM309.833 21.856C310.729 21.856 311.513 22.64 311.513 23.536C311.513 24.488 310.729 25.216 309.833 25.216C308.881 25.216 308.153 24.488 308.153 23.536C308.153 22.64 308.881 21.856 309.833 21.856ZM277.801 21.912C278.753 21.912 279.481 22.64 279.481 23.592C279.481 24.488 278.753 25.272 277.801 25.272C276.849 25.272 276.121 24.488 276.121 23.592C276.121 22.64 276.849 21.912 277.801 21.912ZM289.337 40.056C289.225 40.056 289.057 40.056 288.889 40C283.289 38.488 279.145 34.512 277.129 28.856C276.849 27.96 277.297 27.008 278.137 26.728C278.977 26.392 279.929 26.84 280.321 27.736C281.945 32.384 285.305 35.52 289.785 36.808C290.625 37.032 291.185 37.928 290.905 38.824C290.737 39.552 290.065 40.056 289.337 40.056ZM298.689 40.056C297.961 40.056 297.345 39.552 297.121 38.824C296.897 37.928 297.401 37.032 298.297 36.808C302.777 35.52 306.137 32.384 307.817 27.736C308.097 26.84 309.049 26.392 309.889 26.728C310.841 27.008 311.289 27.96 310.953 28.856C308.937 34.512 304.737 38.488 299.193 40C299.081 40.056 298.913 40.056 298.689 40.056ZM293.929 37.2C294.881 37.2 295.609 37.928 295.609 38.88C295.609 39.832 294.881 40.56 293.929 40.56C292.977 40.56 292.249 39.832 292.249 38.88C292.249 37.928 292.977 37.2 293.929 37.2ZM320.959 0.799997C321.855 0.799997 322.639 1.584 322.639 2.48C322.639 3.376 321.855 4.16 320.959 4.16C320.063 4.16 319.279 3.376 319.279 2.48C319.279 1.584 320.063 0.799997 320.959 0.799997ZM340.895 24.04C340.279 24.04 339.719 23.648 339.439 23.088C339.047 22.248 339.439 21.296 340.223 20.904C343.247 19.504 344.983 16.648 344.983 12.952C344.983 7.52 341.567 4.16 336.079 4.16H325.495C324.599 4.16 323.871 3.432 323.871 2.536C323.871 1.64 324.599 0.911999 325.495 0.911999H336.079C343.303 0.911999 348.231 5.728 348.231 12.952C348.231 17.88 345.711 21.968 341.623 23.872C341.399 23.984 341.175 24.04 340.895 24.04ZM320.959 20.344C320.063 20.344 319.335 19.616 319.335 18.72V6.792C319.335 5.896 320.063 5.168 320.959 5.168C321.855 5.168 322.583 5.896 322.583 6.792V18.72C322.583 19.616 321.855 20.344 320.959 20.344ZM320.959 21.744C321.855 21.744 322.639 22.528 322.639 23.424C322.639 24.32 321.855 25.104 320.959 25.104C320.063 25.104 319.279 24.32 319.279 23.424C319.279 22.528 320.063 21.744 320.959 21.744ZM336.639 21.744C337.535 21.744 338.319 22.528 338.319 23.424C338.319 24.32 337.535 25.104 336.639 25.104C335.743 25.104 334.959 24.32 334.959 23.424C334.959 22.528 335.743 21.744 336.639 21.744ZM325.495 25.048C324.599 25.048 323.871 24.32 323.871 23.424C323.871 22.528 324.599 21.8 325.495 21.8H332.103C332.999 21.8 333.727 22.528 333.727 23.424C333.727 24.32 332.999 25.048 332.103 25.048H325.495ZM343.695 39.608C343.079 39.608 342.519 39.272 342.183 38.712L338.711 32.104L336.807 28.688C336.359 27.904 336.639 26.896 337.479 26.448C338.263 26 339.271 26.28 339.775 27.064L341.679 30.536L345.151 37.144C345.599 37.984 345.263 38.992 344.479 39.384C344.199 39.552 343.975 39.608 343.695 39.608ZM320.959 40C320.063 40 319.279 39.272 319.279 38.32V27.904C319.279 26.952 320.063 26.224 320.959 26.224C321.855 26.224 322.639 26.952 322.639 27.904V38.32C322.639 39.272 321.855 40 320.959 40ZM355.493 2.424C355.493 1.472 356.277 0.799997 357.117 0.799997C358.013 0.799997 358.741 1.472 358.741 2.424V19.224C358.741 20.12 358.013 20.848 357.117 20.848C356.277 20.848 355.493 20.12 355.493 19.224V2.424ZM357.173 25.16C358.125 25.16 358.853 24.432 358.853 23.48C358.853 22.528 358.125 21.8 357.173 21.8C356.221 21.8 355.493 22.528 355.493 23.48C355.493 24.432 356.221 25.16 357.173 25.16ZM355.493 27.848C355.493 26.952 356.277 26.224 357.117 26.224C358.013 26.224 358.741 26.952 358.741 27.848V38.376C358.741 39.328 358.013 40 357.117 40C356.277 40 355.493 39.328 355.493 38.376V27.848ZM367.793 0.799997C368.745 0.799997 369.473 1.528 369.473 2.48C369.473 3.376 368.745 4.16 367.793 4.16C366.897 4.16 366.113 3.376 366.113 2.48C366.113 1.528 366.897 0.799997 367.793 0.799997ZM372.273 4.104C371.377 4.104 370.649 3.376 370.649 2.48C370.649 1.528 371.377 0.799997 372.273 0.799997H391.425C392.321 0.799997 393.105 1.528 393.105 2.48C393.105 3.376 392.321 4.104 391.425 4.104H372.273ZM367.793 20.624C366.897 20.624 366.169 19.896 366.169 19V6.624C366.169 5.728 366.897 5 367.793 5C368.689 5 369.417 5.728 369.417 6.624V19C369.417 19.896 368.689 20.624 367.793 20.624ZM372.273 22.808C371.377 22.808 370.649 22.08 370.649 21.184C370.649 20.288 371.377 19.56 372.273 19.56H387.449C388.345 19.56 389.073 20.288 389.073 21.184C389.073 22.08 388.345 22.808 387.449 22.808H372.273ZM367.793 21.632C368.745 21.632 369.473 22.36 369.473 23.312C369.473 24.208 368.745 24.992 367.793 24.992C366.897 24.992 366.113 24.208 366.113 23.312C366.113 22.36 366.897 21.632 367.793 21.632ZM367.793 35.52C366.897 35.52 366.169 34.736 366.169 33.84V27.68C366.169 26.784 366.897 26.056 367.793 26.056C368.689 26.056 369.417 26.784 369.417 27.68V33.84C369.417 34.736 368.689 35.52 367.793 35.52ZM367.793 36.528C368.745 36.528 369.473 37.256 369.473 38.208C369.473 39.104 368.745 39.888 367.793 39.888C366.897 39.888 366.113 39.104 366.113 38.208C366.113 37.256 366.897 36.528 367.793 36.528ZM372.273 40C371.377 40 370.649 39.272 370.649 38.376C370.649 37.48 371.377 36.696 372.273 36.696H391.425C392.321 36.696 393.105 37.48 393.105 38.376C393.105 39.272 392.321 40 391.425 40H372.273ZM414.359 0.352C415.255 0.352 416.039 1.136 416.039 2.088C416.039 2.928 415.255 3.712 414.359 3.712C413.463 3.712 412.679 2.928 412.679 2.088C412.679 1.136 413.463 0.352 414.359 0.352ZM409.711 19.392C409.543 19.392 409.319 19.336 409.151 19.28C404.335 17.6 401.927 14.52 401.927 10.208C401.927 5.504 404.783 2.032 409.711 0.799997C410.607 0.575997 411.559 1.136 411.783 2.032C412.007 2.984 411.447 3.936 410.551 4.216C407.135 5.056 405.399 7.072 405.399 10.208C405.399 13.792 407.975 15.248 410.271 16.032C411.167 16.368 411.671 17.32 411.335 18.216C411.111 18.944 410.439 19.392 409.711 19.392ZM424.887 11.048C424.159 11.048 423.487 10.544 423.319 9.816C422.591 6.904 420.799 4.944 418.111 4.104C417.215 3.824 416.767 2.816 417.047 1.976C417.327 1.136 418.223 0.631999 419.119 0.911999C422.871 2.088 425.503 5 426.567 8.976C426.791 9.928 426.231 10.768 425.335 10.992C425.167 11.048 425.055 11.048 424.887 11.048ZM414.303 16.984C415.199 16.984 415.983 17.768 415.983 18.72C415.983 19.56 415.199 20.344 414.303 20.344C413.407 20.344 412.623 19.56 412.623 18.72C412.623 17.768 413.407 16.984 414.303 16.984ZM418.951 40C418.279 40 417.607 39.552 417.439 38.824C417.271 37.984 417.775 37.088 418.615 36.864C421.527 36.192 424.999 34.176 424.999 28.8C424.999 24.32 422.927 21.688 418.559 20.624C417.719 20.4 417.215 19.56 417.439 18.72C417.663 17.88 418.503 17.376 419.343 17.6C425.111 19 428.191 22.864 428.191 28.8C428.191 34.512 424.943 38.6 419.343 39.944C419.231 40 419.063 40 418.951 40ZM409.711 39.944C409.543 39.944 409.431 39.888 409.263 39.888C404.055 38.488 400.751 34.624 400.359 29.528C400.247 28.576 400.975 27.792 401.927 27.68C402.879 27.624 403.775 28.352 403.831 29.248C404.111 32.944 406.351 35.464 410.159 36.472C411.055 36.752 411.615 37.76 411.391 38.656C411.167 39.44 410.439 39.944 409.711 39.944ZM414.471 36.92C415.367 36.92 416.151 37.704 416.151 38.656C416.151 39.496 415.367 40.28 414.471 40.28C413.575 40.28 412.791 39.496 412.791 38.656C412.791 37.704 413.575 36.92 414.471 36.92Z"
            fill="black"/>
        </svg>
      </div>
    </header>
  </div>

  <article{{ attributes.addClass(classes) }} style="--project-color: {{ project_color }};">
    <div class="layout">
      <div class="container">
        {{ project_title }}
      </div>
    </div>
    <div class="bg-gray layout content-section">
      <div class="container">
        <div class="info">
          {{ content.field_project_abbreviation }}
          {% if node.field_project_end.value and node.field_project_start.value %}
            <div class="field">
              <div class="f-label">{{ "Timeframe " }}</div>
              <div class="field--value">
                {% set months = node.field_project_end.value - node.field_project_start.value + 1 %}
                {% trans %}
                  {{ months }} months
                {% endtrans %}
              </div>
            </div>
          {% endif %}
          {{ content.field_project_potential_impacts }}
          {{ content.field_project_contacts }}
        </div>
        <div class="content">
          {{ content.body }}
        </div>
      </div>
    </div>
    {% if projects_block %}
      <div class="layout">
        <div class="container justify-content-center">
          {{ projects_block }}
        </div>
      </div>
    {% endif %}
  </article>
</div>