{{ attach_library('parc_interactive_map/map_style') }}
{{ attach_library('parc/n--learning-material') }}
{{ attach_library('edwt/tooltip') }}
{{ attach_library('parc/tooltip') }}

<div class="learning-material" style="--bg-color: {{ bg_color }}; --icon-color: {{ icon_color }}; --text-color: {{ text_color }}" id="material-{{ node.id() }}">
  <a href="{{ content.field_external_url[0]['#url'] }}">
    <div class="learning-material__top">
      <div class="learning-material__top__domain {% if domains_count <= 2 %}multiple{% endif %}">
        {% if domains_count <= 2 %}
          {{ content.field_domains_of_interest }}
        {% else %}
          <span>{{ content.field_domains_of_interest[0] }}</span> and <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ domains_tooltip }}">{{ domains_count - 1 }} others</span>
        {% endif %}
      </div>
      <div class="learning-material__top__date">
        {{ content.field_d_date }}
      </div>
    </div>

    <div class="learning-material__title">
      <div class="learning-material__title__long">{{ label }}</div>
      <div class="learning-material__title__short">{{ label }}</div>
    </div>

    {% if icon %}
      <div class="learning-material__icon">
        {{ include(icon) }}
      </div>
    {% endif %}

    <div class="learning-material__body">
      <div class="learning-material__body__text">
        {{ content.body }}
      </div>
    </div>

    <div class="learning-material__bottom">
      {% set course_type = content.field_course_type | render | striptags | lower %}
      <div class="go-to">
        {% trans %}
          Go to {{ course_type }}
        {% endtrans %}
        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.31174 10.4537L5.379 5.72203L0.966992 1.31003" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="learning-material__bottom__wrapper">
        <div class="learning-material__bottom__left">
          {{ content.field_course_type }}
          {% set owner = node.field_owner.value %}
          {% if owner %}
            <div>
              {% trans %}
                By {{ owner }}
              {% endtrans %}
            </div>
          {% endif %}
        </div>
        <div class="learning-material__bottom__right">
          {% if node.field_course_accessibility.value == 'free_of_charge' %}
            {{ "Free" | t }}
          {% elseif node.field_course_accessibility.value == 'registration_needed' %}
            {{ "Registration" | t }}
          {% elseif node.field_course_accessibility.value == 'paid_fee_subscribtion' %}
            {{ "Paid" | t }}
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
