{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{% set classes = [
  'node',
  'node--' ~ node.bundle|clean_class,
  view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  'node--page--full',
] %}

{{ attach_library('parc/n--page-full') }}
{{ attach_library('parc/n--project-full') }}

<div class="projects-page">
  <div class="layout">
    <header>
      <div class="svg-title d-flex justify-content-center">
        <svg width="679" height="65" viewBox="0 0 679 65" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_5)">
            <path d="M0.477417 3.93171C0.477417 2.42244 1.72119 1.26829 3.14264 1.26829C4.65294 1.26829 5.80788 2.42244 5.80788 3.93171C5.80788 5.44098 4.65294 6.59513 3.14264 6.59513C1.72119 6.59513 0.477417 5.44098 0.477417 3.93171ZM7.22934 37.0468C7.22934 35.6263 8.38427 34.561 9.80573 34.561H24.0202C33.7928 34.561 39.834 29.0566 39.834 20.4449C39.834 11.6556 34.1481 6.50635 24.0202 6.50635H9.80573C8.38427 6.50635 7.22934 5.3522 7.22934 3.93171C7.22934 2.51122 8.38427 1.35707 9.80573 1.35707H24.0202C30.328 1.35707 35.3919 3.04391 39.2121 6.41757C42.9434 9.61366 44.9868 14.5854 44.9868 20.4449C44.9868 26.1268 42.9434 31.0098 39.2121 34.561C35.3031 37.8459 30.2391 39.7102 24.0202 39.7102H9.80573C8.38427 39.7102 7.22934 38.4673 7.22934 37.0468ZM0.566258 10.7678C0.566258 9.34732 1.81003 8.10439 3.23149 8.10439C4.65294 8.10439 5.6302 9.34732 5.6302 10.7678V29.5893C5.6302 31.0098 4.65294 32.1639 3.23149 32.1639C1.81003 32.1639 0.566258 31.0098 0.566258 29.5893V10.7678ZM0.477417 37.0468C0.477417 35.6263 1.81003 34.4722 3.23149 34.4722C4.65294 34.4722 5.80788 35.6263 5.80788 37.0468C5.80788 38.5561 4.65294 39.799 3.23149 39.799C1.81003 39.799 0.477417 38.5561 0.477417 37.0468ZM0.566258 44.238C0.566258 42.8176 1.81003 41.4859 3.23149 41.4859C4.65294 41.4859 5.80788 42.8176 5.80788 44.238V60.7512C5.80788 62.2605 4.65294 63.4146 3.23149 63.4146C1.81003 63.4146 0.566258 62.2605 0.566258 60.7512V44.238ZM84.526 1.26829C85.9474 1.26829 87.1912 2.42244 87.1912 3.93171C87.1912 5.44098 85.9474 6.59513 84.526 6.59513C83.0157 6.59513 81.8607 5.44098 81.8607 3.93171C81.8607 2.42244 83.0157 1.26829 84.526 1.26829ZM72.7101 32.6078C72.3547 32.6078 71.9994 32.6078 71.7328 32.4302C70.4002 31.8976 69.6895 30.3883 70.3114 29.0566L78.2182 9.52488C78.7513 8.19318 80.3504 7.57171 81.6831 8.10439C83.0157 8.63708 83.6376 10.1463 83.1045 11.4781L75.1088 31.0098C74.6646 31.9863 73.6874 32.6078 72.7101 32.6078ZM96.8749 32.6078C95.8976 32.6078 94.9204 32.0751 94.4762 31.0985L85.7697 11.5668C85.1479 10.2351 85.7697 8.72586 87.1024 8.10439C88.3461 7.57171 89.9453 8.1044 90.4783 9.4361L99.2736 28.9678C99.8066 30.2995 99.2736 31.8088 97.941 32.4302C97.5856 32.519 97.2302 32.6078 96.8749 32.6078ZM99.8955 40.0654C101.406 40.0654 102.561 38.9112 102.561 37.402C102.561 35.8927 101.406 34.7385 99.8955 34.7385C98.3852 34.7385 97.2302 35.8927 97.2302 37.402C97.2302 38.9112 98.3852 40.0654 99.8955 40.0654ZM69.423 34.9161C70.8444 34.9161 72.0882 36.159 72.0882 37.5795C72.0882 39.0888 70.8444 40.2429 69.423 40.2429C67.9127 40.2429 66.7577 39.0888 66.7577 37.5795C66.7577 36.159 67.9127 34.9161 69.423 34.9161ZM76.2637 40.1541C74.7534 40.1541 73.5985 39 73.5985 37.5795C73.5985 36.0702 74.7534 34.9161 76.2637 34.9161H92.6994C94.1208 34.9161 95.3646 36.0702 95.3646 37.5795C95.3646 39 94.1208 40.1541 92.6994 40.1541H76.2637ZM59.2062 63.4146C58.8509 63.4146 58.4955 63.3259 58.1402 63.1483C56.8075 62.6156 56.1856 61.0176 56.8075 59.6859L64.0925 43.6166C64.7144 42.2849 66.2247 41.7522 67.5573 42.2849C68.8899 42.9063 69.5118 44.4156 68.8899 45.7473L61.5161 61.9054C61.1608 62.882 60.1835 63.4146 59.2062 63.4146ZM110.29 63.4146C109.224 63.4146 108.335 62.882 107.891 61.9054L100.517 45.8361C99.8955 44.5044 100.429 42.9951 101.761 42.3737C103.094 41.7522 104.604 42.3737 105.226 43.6166L112.6 59.6859C113.222 61.0176 112.689 62.6156 111.356 63.1483C111.001 63.3259 110.645 63.4146 110.29 63.4146ZM127.069 1.26829C128.491 1.26829 129.734 2.51122 129.734 3.93171C129.734 5.3522 128.491 6.59513 127.069 6.59513C125.648 6.59513 124.404 5.3522 124.404 3.93171C124.404 2.51122 125.648 1.26829 127.069 1.26829ZM158.697 38.1122C157.719 38.1122 156.831 37.4907 156.387 36.6029C155.765 35.2712 156.387 33.762 157.63 33.1405C162.429 30.921 165.183 26.3932 165.183 20.5337C165.183 11.922 159.763 6.59513 151.056 6.59513H134.265C132.844 6.59513 131.689 5.44098 131.689 4.02049C131.689 2.60001 132.844 1.44586 134.265 1.44586H151.056C162.517 1.44586 170.335 9.08098 170.335 20.5337C170.335 28.3463 166.338 34.8273 159.852 37.8459C159.497 38.0234 159.141 38.1122 158.697 38.1122ZM127.069 32.2527C125.648 32.2527 124.493 31.0985 124.493 29.6781V10.7678C124.493 9.34732 125.648 8.19318 127.069 8.19318C128.491 8.19318 129.646 9.34732 129.646 10.7678V29.6781C129.646 31.0985 128.491 32.2527 127.069 32.2527ZM127.069 34.4722C128.491 34.4722 129.734 35.7151 129.734 37.1356C129.734 38.5561 128.491 39.799 127.069 39.799C125.648 39.799 124.404 38.5561 124.404 37.1356C124.404 35.7151 125.648 34.4722 127.069 34.4722ZM151.945 34.4722C153.366 34.4722 154.61 35.7151 154.61 37.1356C154.61 38.5561 153.366 39.799 151.945 39.799C150.523 39.799 149.279 38.5561 149.279 37.1356C149.279 35.7151 150.523 34.4722 151.945 34.4722ZM134.265 39.7102C132.844 39.7102 131.689 38.5561 131.689 37.1356C131.689 35.7151 132.844 34.561 134.265 34.561H144.749C146.17 34.561 147.325 35.7151 147.325 37.1356C147.325 38.5561 146.17 39.7102 144.749 39.7102H134.265ZM163.139 62.7932C162.162 62.7932 161.274 62.2605 160.741 61.3727L155.232 50.8966L152.211 45.481C151.5 44.2381 151.945 42.64 153.277 41.9298C154.521 41.2195 156.12 41.6634 156.92 42.9063L159.941 48.4107L165.449 58.8868C166.16 60.2185 165.627 61.8166 164.383 62.438C163.939 62.7044 163.583 62.7932 163.139 62.7932ZM127.069 63.4146C125.648 63.4146 124.404 62.2605 124.404 60.7512V44.238C124.404 42.7288 125.648 41.5746 127.069 41.5746C128.491 41.5746 129.734 42.7288 129.734 44.238V60.7512C129.734 62.2605 128.491 63.4146 127.069 63.4146ZM210.285 5.97366C211.707 5.97366 212.951 4.73074 212.951 3.31025C212.951 1.88976 211.707 0.646833 210.285 0.646833C208.864 0.646833 207.62 1.88976 207.62 3.31025C207.62 4.73074 208.864 5.97366 210.285 5.97366ZM181.945 28.5239C181.945 23.7298 183.189 19.0244 185.321 15.1181C189.052 8.19318 194.916 3.31025 202.378 1.26829C203.711 1.00195 205.133 1.80098 205.577 3.13269C206.021 4.55318 205.133 5.97366 203.711 6.32879C197.67 8.01561 193.05 11.8332 189.941 17.5151C188.342 20.8888 187.098 24.5288 187.098 28.5239V29.5893C187.098 31.0098 185.943 32.1639 184.521 32.1639C183.1 32.1639 181.945 31.0098 181.945 29.5893V28.5239ZM214.994 3.39903C215.26 1.97854 216.593 1.00195 218.103 1.26829C226.099 2.68879 232.762 7.48293 236.405 14.2302C237.115 15.562 236.493 17.16 235.25 17.8702C234.894 18.1366 234.45 18.2254 234.095 18.2254C233.118 18.2254 232.14 17.6927 231.696 16.8049C228.764 11.3005 223.612 7.57171 217.215 6.32879C215.616 6.15122 214.639 4.81952 214.994 3.39903ZM184.521 39.9766C185.943 39.9766 187.187 38.7337 187.187 37.3132C187.187 35.8039 185.943 34.561 184.521 34.561C183.1 34.561 181.856 35.8039 181.856 37.3132C181.856 38.7337 183.1 39.9766 184.521 39.9766ZM183.278 45.8361C182.833 44.5044 183.544 42.9951 184.966 42.4624C186.298 41.841 187.897 42.64 188.253 43.9717C190.918 51.3405 196.071 56.3122 203.356 58.3541C204.777 58.798 205.577 60.1298 205.221 61.5502C204.866 62.7932 203.8 63.5034 202.734 63.5034C202.378 63.5034 202.201 63.5034 201.934 63.4146C193.139 61.0176 186.387 54.7141 183.278 45.8361ZM214.55 61.2839C214.283 59.9522 215.26 58.5317 216.682 58.2654C223.256 56.8449 228.675 53.0273 231.696 47.6117C232.407 46.3688 234.095 45.9249 235.25 46.5463C236.582 47.2566 237.115 48.8546 236.405 50.0976C232.496 57.1112 225.921 61.8166 217.837 63.4146H217.215C215.971 63.4146 214.905 62.6156 214.55 61.2839ZM210.285 64.1249C211.707 64.1249 212.951 62.882 212.951 61.4615C212.951 60.041 211.707 58.7981 210.285 58.7981C208.864 58.7981 207.62 60.041 207.62 61.4615C207.62 62.882 208.864 64.1249 210.285 64.1249ZM338.924 0.558054C340.346 0.558054 341.589 1.80098 341.589 3.31025C341.589 4.64196 340.346 5.88488 338.924 5.88488C337.503 5.88488 336.259 4.64196 336.259 3.31025C336.259 1.80098 337.503 0.558054 338.924 0.558054ZM331.55 30.7434C331.284 30.7434 330.928 30.6546 330.662 30.5659C323.022 27.9024 319.201 23.0195 319.201 16.1834C319.201 8.72586 323.732 3.22147 331.55 1.26829C332.972 0.913171 334.482 1.80098 334.837 3.22147C335.193 4.73074 334.304 6.24001 332.883 6.68391C327.464 8.01561 324.71 11.2117 324.71 16.1834C324.71 21.8654 328.796 24.1737 332.439 25.4166C333.86 25.9493 334.66 27.4585 334.127 28.879C333.771 30.0332 332.705 30.7434 331.55 30.7434ZM355.626 17.5151C354.471 17.5151 353.405 16.7161 353.139 15.562C351.984 10.9454 349.141 7.83805 344.876 6.50635C343.455 6.06244 342.744 4.4644 343.188 3.13269C343.633 1.80098 345.054 1.00195 346.476 1.44586C352.428 3.31025 356.603 7.92683 358.291 14.2302C358.647 15.7395 357.758 17.0712 356.337 17.4263C356.07 17.5151 355.893 17.5151 355.626 17.5151ZM338.835 26.9259C340.257 26.9259 341.501 28.1688 341.501 29.6781C341.501 31.0098 340.257 32.2527 338.835 32.2527C337.414 32.2527 336.17 31.0098 336.17 29.6781C336.17 28.1688 337.414 26.9259 338.835 26.9259ZM346.209 63.4146C345.143 63.4146 344.077 62.7044 343.81 61.5502C343.544 60.2185 344.343 58.798 345.676 58.4429C350.296 57.3776 355.804 54.1815 355.804 45.6585C355.804 38.5561 352.517 34.3834 345.587 32.6966C344.255 32.3415 343.455 31.0098 343.81 29.6781C344.166 28.3463 345.498 27.5473 346.831 27.9024C355.982 30.122 360.868 36.2478 360.868 45.6585C360.868 54.7141 355.715 61.1951 346.831 63.3259C346.653 63.4146 346.387 63.4146 346.209 63.4146ZM331.55 63.3259C331.284 63.3259 331.106 63.2371 330.84 63.2371C322.577 61.0176 317.336 54.8917 316.714 46.8127C316.536 45.3034 317.691 44.0605 319.201 43.8829C320.712 43.7941 322.133 44.9483 322.222 46.3688C322.666 52.2283 326.22 56.2234 332.261 57.8215C333.682 58.2654 334.571 59.8634 334.216 61.2839C333.86 62.5268 332.705 63.3259 331.55 63.3259ZM339.102 58.5317C340.523 58.5317 341.767 59.7746 341.767 61.2839C341.767 62.6156 340.523 63.8585 339.102 63.8585C337.68 63.8585 336.437 62.6156 336.437 61.2839C336.437 59.7746 337.68 58.5317 339.102 58.5317ZM375.006 6.41757C373.585 6.41757 372.43 5.26342 372.43 3.84293C372.43 2.42244 373.585 1.26829 375.006 1.26829H392.153C393.574 1.26829 394.729 2.42244 394.729 3.84293C394.729 5.26342 393.574 6.41757 392.153 6.41757H375.006ZM399.082 6.59513C400.593 6.59513 401.747 5.44098 401.747 3.93171C401.747 2.42244 400.593 1.26829 399.082 1.26829C397.572 1.26829 396.417 2.42244 396.417 3.93171C396.417 5.44098 397.572 6.59513 399.082 6.59513ZM405.923 6.41757C404.502 6.41757 403.347 5.26342 403.347 3.84293C403.347 2.42244 404.502 1.26829 405.923 1.26829H423.069C424.491 1.26829 425.646 2.42244 425.646 3.84293C425.646 5.26342 424.491 6.41757 423.069 6.41757H405.923ZM399.171 32.519C397.75 32.519 396.595 31.3649 396.595 29.9444V11.0342C396.595 9.61366 397.75 8.45952 399.171 8.45952C400.593 8.45952 401.747 9.61366 401.747 11.0342V29.9444C401.747 31.3649 400.593 32.519 399.171 32.519ZM399.082 39.6215C400.593 39.6215 401.747 38.4673 401.747 36.9581C401.747 35.4488 400.593 34.2946 399.082 34.2946C397.572 34.2946 396.417 35.4488 396.417 36.9581C396.417 38.4673 397.572 39.6215 399.082 39.6215ZM399.171 63.4146C397.75 63.4146 396.506 62.2605 396.506 60.7512V44.1493C396.506 42.7288 397.75 41.5746 399.171 41.5746C400.681 41.5746 401.836 42.7288 401.836 44.1493V60.7512C401.836 62.2605 400.681 63.4146 399.171 63.4146ZM465.51 0.469269C467.02 0.469269 468.175 1.7122 468.175 3.13269C468.175 4.64196 467.02 5.7961 465.51 5.7961C464 5.7961 462.845 4.64196 462.845 3.13269C462.845 1.7122 464 0.469269 465.51 0.469269ZM439.835 32.2527C438.325 32.2527 437.17 31.0098 437.17 29.5893V28.5239C437.259 23.8185 438.502 19.1132 440.635 15.0293C444.366 8.10439 450.229 3.31025 457.692 1.26829C459.113 0.824392 460.535 1.7122 460.89 3.04391C461.423 4.55318 460.535 5.97366 459.113 6.32879C453.072 8.01561 448.275 11.922 445.343 17.5151C443.655 20.8 442.589 24.7063 442.5 28.6127V29.6781C442.411 31.0985 441.256 32.2527 439.835 32.2527ZM491.541 32.2527C490.03 32.2527 488.875 31.0985 488.875 29.6781L488.786 28.6127C488.786 24.7063 487.809 20.8 486.032 17.5151C483.101 11.922 478.303 8.01561 472.262 6.32879C470.841 5.97366 470.041 4.55318 470.396 3.04391C470.752 1.7122 472.173 0.824392 473.683 1.26829C481.146 3.31025 487.098 8.10439 490.741 15.0293C492.873 19.1132 494.028 23.8185 494.117 28.5239L494.206 29.5893C494.206 31.0098 493.051 32.2527 491.629 32.2527H491.541ZM490.741 34.6498C492.162 34.6498 493.406 35.8927 493.406 37.3132C493.406 38.8224 492.162 39.9766 490.741 39.9766C489.231 39.9766 488.076 38.8224 488.076 37.3132C488.076 35.8927 489.231 34.6498 490.741 34.6498ZM439.924 34.7385C441.434 34.7385 442.589 35.8927 442.589 37.402C442.589 38.8224 441.434 40.0654 439.924 40.0654C438.413 40.0654 437.259 38.8224 437.259 37.402C437.259 35.8927 438.413 34.7385 439.924 34.7385ZM458.225 63.5034C458.047 63.5034 457.781 63.5034 457.514 63.4146C448.63 61.0176 442.056 54.7141 438.858 45.7473C438.414 44.3268 439.124 42.8176 440.457 42.3737C441.789 41.841 443.3 42.5512 443.922 43.9717C446.498 51.3405 451.829 56.3122 458.936 58.3541C460.268 58.7093 461.157 60.1298 460.713 61.5502C460.446 62.7044 459.38 63.5034 458.225 63.5034ZM473.062 63.5034C471.907 63.5034 470.929 62.7044 470.574 61.5502C470.219 60.1298 471.018 58.7093 472.44 58.3541C479.547 56.3122 484.877 51.3405 487.543 43.9717C487.987 42.5512 489.497 41.841 490.83 42.3737C492.34 42.8176 493.051 44.3268 492.518 45.7473C489.319 54.7141 482.656 61.0176 473.861 63.4146C473.683 63.5034 473.417 63.5034 473.062 63.5034ZM465.51 58.9756C467.02 58.9756 468.175 60.1298 468.175 61.639C468.175 63.1483 467.02 64.3024 465.51 64.3024C464 64.3024 462.845 63.1483 462.845 61.639C462.845 60.1298 464 58.9756 465.51 58.9756ZM508.392 1.26829C509.813 1.26829 511.057 2.51122 511.057 3.93171C511.057 5.3522 509.813 6.59513 508.392 6.59513C506.97 6.59513 505.727 5.3522 505.727 3.93171C505.727 2.51122 506.97 1.26829 508.392 1.26829ZM540.019 38.1122C539.042 38.1122 538.154 37.4907 537.709 36.6029C537.087 35.2712 537.709 33.762 538.953 33.1405C543.751 30.921 546.505 26.3932 546.505 20.5337C546.505 11.922 541.085 6.59513 532.379 6.59513H515.588C514.166 6.59513 513.011 5.44098 513.011 4.02049C513.011 2.60001 514.166 1.44586 515.588 1.44586H532.379C543.839 1.44586 551.657 9.08098 551.657 20.5337C551.657 28.3463 547.66 34.8273 541.174 37.8459C540.819 38.0234 540.463 38.1122 540.019 38.1122ZM508.392 32.2527C506.97 32.2527 505.815 31.0985 505.815 29.6781V10.7678C505.815 9.34732 506.97 8.19318 508.392 8.19318C509.813 8.19318 510.968 9.34732 510.968 10.7678V29.6781C510.968 31.0985 509.813 32.2527 508.392 32.2527ZM508.392 34.4722C509.813 34.4722 511.057 35.7151 511.057 37.1356C511.057 38.5561 509.813 39.799 508.392 39.799C506.97 39.799 505.727 38.5561 505.727 37.1356C505.727 35.7151 506.97 34.4722 508.392 34.4722ZM533.267 34.4722C534.689 34.4722 535.933 35.7151 535.933 37.1356C535.933 38.5561 534.689 39.799 533.267 39.799C531.846 39.799 530.602 38.5561 530.602 37.1356C530.602 35.7151 531.846 34.4722 533.267 34.4722ZM515.588 39.7102C514.166 39.7102 513.011 38.5561 513.011 37.1356C513.011 35.7151 514.166 34.561 515.588 34.561H526.071C527.493 34.561 528.648 35.7151 528.648 37.1356C528.648 38.5561 527.493 39.7102 526.071 39.7102H515.588ZM544.461 62.7932C543.484 62.7932 542.596 62.2605 542.063 61.3727L536.554 50.8966L533.534 45.481C532.823 44.2381 533.267 42.64 534.6 41.9298C535.844 41.2195 537.443 41.6634 538.242 42.9063L541.263 48.4107L546.771 58.8868C547.482 60.2185 546.949 61.8166 545.705 62.438C545.261 62.7044 544.905 62.7932 544.461 62.7932ZM508.392 63.4146C506.97 63.4146 505.727 62.2605 505.727 60.7512V44.238C505.727 42.7288 506.97 41.5746 508.392 41.5746C509.813 41.5746 511.057 42.7288 511.057 44.238V60.7512C511.057 62.2605 509.813 63.4146 508.392 63.4146ZM563.178 3.84293C563.178 2.33366 564.422 1.26829 565.755 1.26829C567.176 1.26829 568.331 2.33366 568.331 3.84293V30.4771C568.331 31.8976 567.176 33.0517 565.755 33.0517C564.422 33.0517 563.178 31.8976 563.178 30.4771V3.84293ZM565.843 39.8878C567.354 39.8878 568.509 38.7337 568.509 37.2244C568.509 35.7151 567.354 34.561 565.843 34.561C564.333 34.561 563.178 35.7151 563.178 37.2244C563.178 38.7337 564.333 39.8878 565.843 39.8878ZM563.178 44.1493C563.178 42.7288 564.422 41.5746 565.755 41.5746C567.176 41.5746 568.331 42.7288 568.331 44.1493V60.84C568.331 62.3493 567.176 63.4146 565.755 63.4146C564.422 63.4146 563.178 62.3493 563.178 60.84V44.1493ZM582.691 1.26829C584.202 1.26829 585.357 2.42244 585.357 3.93171C585.357 5.3522 584.202 6.59513 582.691 6.59513C581.27 6.59513 580.026 5.3522 580.026 3.93171C580.026 2.42244 581.27 1.26829 582.691 1.26829ZM589.799 6.50635C588.377 6.50635 587.222 5.3522 587.222 3.93171C587.222 2.42244 588.377 1.26829 589.799 1.26829H620.182C621.604 1.26829 622.848 2.42244 622.848 3.93171C622.848 5.3522 621.604 6.50635 620.182 6.50635H589.799ZM582.691 32.6966C581.27 32.6966 580.115 31.5424 580.115 30.122V10.5015C580.115 9.08098 581.27 7.92683 582.691 7.92683C584.113 7.92683 585.268 9.08098 585.268 10.5015V30.122C585.268 31.5424 584.113 32.6966 582.691 32.6966ZM589.799 36.159C588.377 36.159 587.222 35.0049 587.222 33.5844C587.222 32.1639 588.377 31.0098 589.799 31.0098H613.875C615.296 31.0098 616.451 32.1639 616.451 33.5844C616.451 35.0049 615.296 36.159 613.875 36.159H589.799ZM582.691 34.2946C584.202 34.2946 585.357 35.4488 585.357 36.9581C585.357 38.3785 584.202 39.6215 582.691 39.6215C581.27 39.6215 580.026 38.3785 580.026 36.9581C580.026 35.4488 581.27 34.2946 582.691 34.2946ZM582.691 56.3122C581.27 56.3122 580.115 55.0693 580.115 53.6488V43.8829C580.115 42.4624 581.27 41.3083 582.691 41.3083C584.113 41.3083 585.268 42.4624 585.268 43.8829V53.6488C585.268 55.0693 584.113 56.3122 582.691 56.3122ZM582.691 57.9102C584.202 57.9102 585.357 59.0644 585.357 60.5737C585.357 61.9941 584.202 63.2371 582.691 63.2371C581.27 63.2371 580.026 61.9941 580.026 60.5737C580.026 59.0644 581.27 57.9102 582.691 57.9102ZM589.799 63.4146C588.377 63.4146 587.222 62.2605 587.222 60.84C587.222 59.4195 588.377 58.1766 589.799 58.1766H620.182C621.604 58.1766 622.848 59.4195 622.848 60.84C622.848 62.2605 621.604 63.4146 620.182 63.4146H589.799ZM656.566 0.558054C657.988 0.558054 659.231 1.80098 659.231 3.31025C659.231 4.64196 657.988 5.88488 656.566 5.88488C655.145 5.88488 653.901 4.64196 653.901 3.31025C653.901 1.80098 655.145 0.558054 656.566 0.558054ZM649.192 30.7434C648.926 30.7434 648.57 30.6546 648.304 30.5659C640.664 27.9024 636.843 23.0195 636.843 16.1834C636.843 8.72586 641.374 3.22147 649.192 1.26829C650.614 0.913171 652.124 1.80098 652.479 3.22147C652.835 4.73074 651.946 6.24001 650.525 6.68391C645.106 8.01561 642.351 11.2117 642.351 16.1834C642.351 21.8654 646.438 24.1737 650.081 25.4166C651.502 25.9493 652.302 27.4585 651.769 28.879C651.413 30.0332 650.347 30.7434 649.192 30.7434ZM673.268 17.5151C672.113 17.5151 671.047 16.7161 670.781 15.562C669.626 10.9454 666.783 7.83805 662.518 6.50635C661.097 6.06244 660.386 4.4644 660.83 3.13269C661.275 1.80098 662.696 1.00195 664.118 1.44586C670.07 3.31025 674.245 7.92683 675.933 14.2302C676.289 15.7395 675.4 17.0712 673.979 17.4263C673.712 17.5151 673.535 17.5151 673.268 17.5151ZM656.477 26.9259C657.899 26.9259 659.142 28.1688 659.142 29.6781C659.142 31.0098 657.899 32.2527 656.477 32.2527C655.056 32.2527 653.812 31.0098 653.812 29.6781C653.812 28.1688 655.056 26.9259 656.477 26.9259ZM663.851 63.4146C662.785 63.4146 661.719 62.7044 661.452 61.5502C661.186 60.2185 661.985 58.798 663.318 58.4429C667.938 57.3776 673.446 54.1815 673.446 45.6585C673.446 38.5561 670.159 34.3834 663.229 32.6966C661.897 32.3415 661.097 31.0098 661.452 29.6781C661.808 28.3463 663.14 27.5473 664.473 27.9024C673.624 30.122 678.51 36.2478 678.51 45.6585C678.51 54.7141 673.357 61.1951 664.473 63.3259C664.295 63.4146 664.029 63.4146 663.851 63.4146ZM649.192 63.3259C648.926 63.3259 648.748 63.2371 648.482 63.2371C640.219 61.0176 634.978 54.8917 634.356 46.8127C634.178 45.3034 635.333 44.0605 636.843 43.8829C638.354 43.7941 639.775 44.9483 639.864 46.3688C640.308 52.2283 643.862 56.2234 649.903 57.8215C651.324 58.2654 652.213 59.8634 651.857 61.2839C651.502 62.5268 650.347 63.3259 649.192 63.3259ZM656.744 58.5317C658.165 58.5317 659.409 59.7746 659.409 61.2839C659.409 62.6156 658.165 63.8585 656.744 63.8585C655.322 63.8585 654.078 62.6156 654.078 61.2839C654.078 59.7746 655.322 58.5317 656.744 58.5317Z" fill="black"/>
          </g>
          <defs>
            <clipPath id="clip0_1_5">
              <rect width="679" height="65" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    </header>
  </div>

  <article{{ attributes.addClass(classes) }} style="--project-color: {{ project_color }};">
    <div class="layout">
      <div class="container">
        {{ project_title }}
      </div>
    </div>
    <div class="bg-gray layout content-section">
      <div class="container">
        <div class="info">
          {{ content.field_project_start_date }}
          {{ content.field_project_end_date }}
          {{ content.field_project_potential_impacts }}
          {{ content.field_project_contacts }}
        </div>
        <div class="content">
          {{ content.body }}
        </div>
      </div>
    </div>
    {% if projects_block %}
      <div class="layout">
        <div class="container justify-content-center">
          {{ projects_block }}
        </div>
      </div>
    {% endif %}
  </article>
</div>