{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--events-header') }}

{%
  set classes = [
    'section--' ~ node.bundle|clean_class,
    view_mode ? 'section--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<section{{attributes.addClass(classes)}}>
  <div class="section-top d-flex justify-content-between">
    {{- content.field_categories -}}

    <div class="se--year">
      {{- content.field_date -}}
    </div>
  </div>

  {{- content.field_date -}}

  <div class="section-bottom">
    {% if node.field_parc_training.value %}
      <div class="parc-training-logo">
        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.4586 6.01713L19.2852 9.00537" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M35.2114 22.4316L27.0479 14.2681" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M23.3777 34.7786L26.366 23.6052" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M6.73145 30.6943L17.9265 27.6844" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M2 14.2681L10.1635 22.4316" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M13.8339 1.91265L10.824 13.1077" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
        </svg>
      </div>
    {% endif %}
    <div class="bottom d-flex justify-content-between text-uppercase">
      {% if content.field_city.0 %}
        {{- content.field_city -}}
      {% else %}
        {{- content.field_event_format -}}
      {% endif %}

      {{- content.field_add_to_calendar -}}
    </div>
  </div>
</section>

{# For training events #}
{% if node.field_categories.target_id == 91 %}
  <div class="parc-training-header text-uppercase fw-bold">
    {% if node.field_parc_training.value %}
      {{ "A PARC Training" | t }}
    {% else %}
      {{ "External training" | t }}
    {% endif %}
  </div>
{% endif %}
