{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--events-header') }}

{%
  set classes = [
    'section--' ~ node.bundle|clean_class,
    view_mode ? 'section--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<section{{attributes.addClass(classes)}}>
  <div class="section-top d-flex justify-content-between">
    {{- content.field_categories -}}

    <div class="se--year">
      {{- content.field_date.0.start_date['#markup']|date('Y') -}}
    </div>
  </div>

  {{- content.field_date -}}

  <div class="section-bottom d-flex justify-content-between">
    {{- content.field_address -}}
    {{- content.field_add_to_calendar -}}
  </div>
</section>
