{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('edwt/collapse') }}
{{ attach_library('parc/card') }}
{{ attach_library('parc/n--article-teaser') }}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    'card',
    'position-relative',
    content.field_classes.0|render|clean_class,
  ]
%}

{% set collpaseID = 'parc--article-' ~ node.id() %}
{% set color = node.field_tags.entity.field_color.value.0.color %}

<article{{attributes.addClass(classes).setAttribute('style','--nn-c-cat:'~color~';')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="card-img svg-news--effect">
    {{ content.field_image }}
    {{ content.field_svg_hover }}
  </div>

  <div class="card-body">
    <div class="meta d-flex justify-content-between fw-bold">
      <div class="field-category text-uppercase">
        {{- content.field_tags -}}
      </div>

      <div class="field-date">
        {{- date -}}
      </div>
    </div>

    <div class="article-content mini d-flex flex-grow-1 flex-column justify-content-between align-items-start">
      <h4 class="card-title fw-bold" {{ content.field_label_color.0 ? 'style=--news-c-title:' ~ content.field_label_color|render|striptags|trim ~ ';' }}>

        {{- label.0 -}}
      </h4>

      {% if content.body.0 %}
        <div class="collapse multi-collapse-{{ collpaseID }} show grow-1 mini-content" id="{{ collpaseID }}-second">
          {{- content.body -}}
        </div>

        <div class="collapse multi-collapse-{{ collpaseID }} mb-lg-3" id="{{ collpaseID }}">
          {{ body_full }}
        </div>
      {% else %}
        <div class="mini-content show"></div>
      {% endif %}

      <div class="w d-flex justify-content-between">
        <a class="btn btn-clear btn-arrow me-auto stretched-link" href="{{ url }}">
          {{- 'Read more'|t -}}
        </a>
        <div class="field-date d-md-none">
          {{- date -}}
        </div>
      </div>
    </div>
  </div>

  <div class="card-styled-border">
    {{ include(cardFooterOverlay()) }}
  </div>
</article>
