{{ attach_library('parc/indicators') }}

<ul class="nav nav-tabs" role="tablist">
  {% for group in groups %}
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if group.id == active_tab or (active_tab is empty and group.default_active) %}active{% endif %}" id="{{ group.id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ group.id }}" type="button" role="tab" aria-controls="home" aria-selected="{% if group.id == active_tab or (active_tab is empty and group.default_active) %}true{% else %}false{% endif %}">
        {{ group.label }}
      </button>
    </li>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for group in groups %}
    <div style="--indicator-color: {{ group.color }};" class="tab-pane fade {% if group.id == active_tab or (active_tab is empty and group.default_active) %}show active{% endif %}" id="{{ group.id }}" role="tabpanel" aria-labelledby="{{ group.id }}-tab">
      {% if group.items %}
        {% for item in group.items %}
          {{ item }}
        {% endfor %}
      {% else %}
        <p>{{ "No indicators of this type have been added yet." }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
