{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% if items|length > 1 %}
    {% set count = items|length %}
    {% set dsd = items[0].content['#value']|date('d') %}
    {% set dsm = items[0].content['#value']|date('m') %}
    {% set dsy = items[0].content['#value']|date('Y') %}
    {% set ded = items[count-1].content['#end_value']|date('d') %}
    {% set dem = items[count-1].content['#end_value']|date('m') %}
    {% set dey = items[count-1].content['#end_value']|date('Y') %}
    {% if dsy != dey %}
      {{ dsd }}.{{ dsm }}.{{ dsy }}{{ ' — ' }}
      {{ ded }}.{{ dem }}.{{ dey }}
    {% elseif dsm != dem %}
      {{ ded }}.{{ dsm }}{{ ' — ' }}
      {{ ded }}.{{ dem }}.{{ dey }}
    {% elseif dsd != ded %}
      {{ dsd }}{{ ' — ' }}
      {{ ded }}.{{ dem }}.{{ dey }}
    {% endif %}
  {% else %}
    {%- for item in items -%}
      {% set start = item.content.start.date.value['#markup'] %}
      {% set end = item.content.end.date.value['#markup'] %}
      {% set AllDay = item.content.end.time['#markup'] == 'All Day' %}


      {% set dsd = start|split('.').0 %}
      {% set dsm = start|split('.').1 %}
      {% set dsy = start|split('.').2 %}

      {% if AllDay %}
        {% set ds = start|trim('.') %}
        {% if end %}
          {% set ded = end|split('.').0 %}
          {% set dem = end|split('.').1 %}
          {% set dey = end|split('.').2 %}

          {% if dsy != dey %}
            {{ ds }}{{ ' — ' }}
            {{ ded }}.{{ dem }}.{{ dey }}
          {% elseif dsm != dem %}
            v2
            {{ ds }}{{ ' — ' }}
            {{ ded }}.{{ dem }}.{{ dey }}
          {% elseif dsd != ded %}
            v3
            {{ ds }}{{ ' — ' }}
            {{ ded }}.{{ dsm }}.{{ dsy }}
          {% endif %}
        {% else %}
          {{ ds }}
        {% endif %}
      {% else %}
        {% if end %}
          {% set ded = end|split('.').0 %}
          {% set dem = end|split('.').1 %}
          {% set dey = end|split('.').2 %}

          {% if dsy != dey %}
            {{ dsd }}.{{ dsm }}.{{ dsy }}{{ ' — ' }}
            {{ ded }}.{{ dem }}.{{ dey }}
          {% elseif dsm != dem %}
            {{ ded }}.{{ dsm }}{{ ' — ' }}
            {{ ded }}.{{ dem }}.{{ dey }}
          {% elseif dsd != ded %}
            {{ dsd }}{{ ' — ' }}
            {{ ded }}.{{ dsm }}.{{ dsy }}
          {% endif %}
        {% else %}
          {{ dsd }}.{{ dsm }}.{{ dsy }}
        {% endif %}
      {% endif %}
    {%- endfor -%}
  {% endif %}
</div>
<div class="date-meta">
  {% if items|length <= 1 %}
    {%- for item in items -%}
      <div class="item">
        {% set itemContent = item.content %}

        {% if item.content.end %}
          {% set AllDay = item.content.end.time['#markup'] %}
        {% else %}
          {% set AllDay = item.content.start.time['#markup'] %}
        {% endif %}

        {% if AllDay %}
          {{ AllDay }}
        {% else %}
          {{- itemContent.start.time.value['#markup'] -}}
          {{- ' — ' -}}
          {{- itemContent.end.time.value['#markup'] -}}
        {% endif %}
      </div>
    {%- endfor -%}
  {% endif %}
</div>
