{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% if items|length > 1 %}
    {% set count = items|length %}
    {% set ds = items[0].content.start.date.value['#markup']|split('.') %}
    {% set de = items[count-1].content.start.date.value['#markup']|split('.') %}

    {% if ds.2 != de.2 %}
      {{ ds.0 }}.{{ ds.1 }}.{{ ds.2 }}{{ ' — ' }}
      {{ de.0 }}.{{ de.1 }}.{{ de.2 }}
    {% elseif ds.1 != de.1 %}
      {{ ds.0 }}.{{ ds.1 }}{{ ' — ' }}
      {{ de.0 }}.{{ de.1 }}.{{ de.2 }}
    {% elseif ds.0 != de.0 %}
      {{ ds.0 }}{{ ' — ' }}
      {{ de.0 }}.{{ de.1 }}.{{ de.2 }}
    {% endif %}
  {% else %}
    {%- for item in items -%}
      {% set start = item.content.start.date.value['#markup'] %}
      {% set end = item.content.end.date.value['#markup'] %}
      {% set dsd = start|split('.').0 %}
      {% set dsm = start|split('.').1 %}
      {% set dsy = start|split('.').2 %}

      {% if end %}
        {% set ded = end|split('.').0 %}
        {% set dem = end|split('.').1 %}
        {% set dey = end|split('.').2 %}

        {% if dsy != dey %}
          {{ dsd }}.{{ dsm }}.{{ dsy }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsm != dem %}
          {{ ded }}.{{ dsm }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsd != ded %}
          {{ dsd }}{{ ' — ' }}
          {{ ded }}.{{ dsm }}.{{ dey }}
        {% endif %}
      {% else %}
        {{ dsd }}.{{ dsm }}.{{ dsy }}
      {% endif %}
    {%- endfor -%}
  {% endif %}
</div>
<div class="date-meta">
  {% if items|length <= 1 %}
    {%- for item in items -%}
      <div class="item">
        {% set itemContent = item.content %}

        {% if item.content.end %}
          {% set AllDay = item.content.end.time['#markup'] %}
        {% else %}
          {% set AllDay = item.content.start.time['#markup'] %}
        {% endif %}

        {% if AllDay %}
          {{ AllDay }}
        {% else %}
          {{- itemContent.start.time.value['#markup'] -}}
          {{- ' — ' -}}
          {{- itemContent.end.time.value['#markup'] -}}
        {% endif %}
      </div>
    {%- endfor -%}
  {% endif %}
</div>
