{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

{%
  set title_classes = [
    'f-label'
  ]
%}

<div{{attributes.addClass(classes)}}>
  <div{{title_attributes.addClass(title_classes)}}>
    {{- label -}}
  </div>

  {%- for item in items -%}
    {% set start = item.content.start.date.value['#markup'] %}
    {% set end = item.content.end.date.value['#markup'] %}
    {% set AllDay = item.content.end.time['#markup'] == 'All Day' %}


    {% set dsd = start|split('.').0 %}
    {% set dsm = start|split('.').1 %}
    {% set dsy = start|split('.').2 %}

    {% if AllDay %}
      {% set ds = start|trim('.') %}
      {% if end %}
        {% set ded = end|split('.').0 %}
        {% set dem = end|split('.').1 %}
        {% set dey = end|split('.').2 %}

        {% if dsy != dey %}
          {{ ds }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsm != dem %}
          v2
          {{ ds }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsd != ded %}
          v3
          {{ ds }}{{ ' — ' }}
          {{ ded }}.{{ dsm }}.{{ dsy }}
        {% endif %}
      {% else %}
        {{ ds }}
      {% endif %}
    {% else %}
      {% if end %}
        {% set ded = end|split('.').0 %}
        {% set dem = end|split('.').1 %}
        {% set dey = end|split('.').2 %}

        {% if dsy != dey %}
          {{ dsd }}.{{ dsm }}.{{ dsy }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsm != dem %}
          {{ ded }}.{{ dsm }}{{ ' — ' }}
          {{ ded }}.{{ dem }}.{{ dey }}
        {% elseif dsd != ded %}
          {{ dsd }}{{ ' — ' }}
          {{ ded }}.{{ dsm }}.{{ dsy }}
        {% endif %}
      {% else %}
        {{ dsd }}.{{ dsm }}.{{ dsy }}
      {% endif %}
    {% endif %}
  {%- endfor -%}
</div>

<div{{attributes.addClass(classes)}}>
  <div{{title_attributes.addClass(title_classes)}}>
    {{- 'Time'|t -}}
  </div>

  {%- for item in items -%}
    {% set itemContent = item.content %}

    {% if item.content.end %}
      {% set AllDay = item.content.end.time['#markup'] %}
    {% else %}
      {% set AllDay = item.content.start.time['#markup'] %}
    {% endif %}

    {% if AllDay %}
      {{ AllDay }}
    {% else %}
      {{- itemContent.start.time.value['#markup'] -}}
      {{- ' — ' -}}
      {{- itemContent.end.time.value['#markup'] -}}
    {% endif %}
  {%- endfor -%}
</div>
