{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

{%
  set title_classes = [
    'f-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{attributes.addClass(classes)}}>
  <div{{title_attributes.addClass(title_classes)}}>
    {{- label -}}
  </div>

  {% for item in items %}
    <div{{item.attributes.addClass('f-item')}}>
      {{- item.content -}}
    </div>
  {% endfor %}
</div>
