{#
/**
 * @file
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

{{ attach_library('edwt/collapse') }}
{{ attach_library('parc/carousel_scroll') }}

<div{{attributes.addClass(classes)}}>
  <div class="f-label">{{ "Programme" | t }}</div>
  <div class="carousel-scroll">
    {%- for item in items -%}
      {% set start = item.content.start.date.value['#markup'] %}
      {% set end = item.content.end.date.value['#markup'] %}

      {% set start_hour = item.content.start.time.value['#markup'] | split(':').0 | number_format %}
      {% set start_minute = item.content.start.time.value['#markup'] | split(':').1 | number_format %}

      {% set start_timestamp = start_hour * 60 + start_minute %}

      {% set end_hour = item.content.end.time.value['#markup'] | split('.').0 | number_format %}
      {% set end_minute = item.content.end.time.value['#markup'] | split('.').1 | number_format %}
      {% set end_timestamp = end_hour * 60 + end_minute %}

      {% set empty_top_height = start_timestamp * 100 / (60 * 24) %}
      {% if empty_top_height > 80 %}
        {% set empty_top_height = 80 %}
      {% endif %}

      {% set fill_height = (end_timestamp - start_timestamp) * 100 / (60 * 24) %}
      {% if fill_height < 20 %}
        {% set fill_height = 20 %}
      {% endif %}

      {% if item.content.end %}
        {% set AllDay = item.content.end.time['#markup'] %}
      {% else %}
        {% set empty_top_height = 0 %}
        {% set fill_height = 100 %}
        {% set AllDay = item.content.start.time['#markup'] %}
      {% endif %}
      <div class="cs--item">
        <div class="calendar-item">
          <div class="day">
            {{ start }}
          </div>
          <div class="time">
            <div class="morning">
              {{ "Morning" | t }}
            </div>
            <div class="afternoon">
              {{ "Afternoon" | t }}
            </div>
            <div class="empty" style="height: {{ empty_top_height }}%">
            </div>
            <div class="fill" style="height: {{ fill_height }}%">
              {% if AllDay %}
                {{- "All day" |t -}}
              {% else %}
                {{- item.content.start.time.value['#markup'] -}}
                {{- ' - ' -}}
                {{- item.content.end.time.value['#markup'] -}}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
  {% if items.2 %}
    <button class="slider__arrow slider__arrow-prev js-slider-prev d-none">
      {{- '&#8249;' -}}
    </button>

    <button class="slider__arrow slider__arrow-next js-slider-next">
      {{- '&#8250;' -}}
    </button>
  {% endif %}
</div>
