{% set bg_image = '' %}
{% set bg_image_color = '' %}
{% set bg_color = '' %}

{% if content.field_domains_of_interest[0]['#title'] == 'Policy and regulation' %}
  {% set bg_image_color = '#31D9C4' %}
  {% set bg_color = '#B0E5DF'%}
{% elseif content.field_domains_of_interest[0]['#title'] == 'Exposure Assessment' %}
  {% set bg_image_color = '#F58296' %}
  {% set bg_color = '#FBCDD5'%}
{% elseif content.field_domains_of_interest[0]['#title'] == 'Hazard and Risk' %}
  {% set bg_image_color = '#AA7ABD' %}
  {% set bg_color = '#E0C7F5'%}
{% elseif content.field_domains_of_interest[0]['#title'] == 'FAIR data and data management' %}
  {% set bg_image_color = '#C5A858' %}
  {% set bg_color = '#F4EACA'%}
{% elseif content.field_domains_of_interest[0]['#title'] == 'Statistics SSdB' %}
  {% set bg_image_color = '#7AB7FF' %}
  {% set bg_color = '#AED3FF'%}
{% endif %}

<div style="height: 300px;">
  <div class="background-svg" style="background-color: {{ bg_color }};">
    {% if content.field_course_type[0]['#markup'] == 'Training library' %}
      <svg width="199" height="191" viewBox="0 0 199 191" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M47.5286 5.08691C61.2958 7.70505 72.1813 18.4564 74.9968 32.1527" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M6.55542 32.4443C9.17356 18.6771 19.9249 7.79157 33.6212 4.97609" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M75.0959 47.7891C72.4778 61.5563 61.7264 72.4418 48.0302 75.2573" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M34.0237 75.0225C20.2565 72.4043 9.37092 61.6529 6.55544 47.9567" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M163.133 5.43945C176.9 8.05759 187.785 18.809 190.601 32.5052" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M122.16 32.7969C124.778 19.0297 135.529 8.14411 149.225 5.32863" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M190.7 48.1416C188.082 61.9088 177.331 72.7944 163.635 75.6098" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M149.628 75.375C135.861 72.7569 124.975 62.0055 122.16 48.3092" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M163.133 116.523C176.9 119.142 187.786 129.893 190.601 143.589" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M122.16 143.881C124.778 130.114 135.529 119.228 149.226 116.413" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M190.701 159.226C188.083 172.993 177.331 183.878 163.635 186.694" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M149.628 186.458C135.861 183.84 124.975 173.088 122.16 159.392" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M47.6277 116.523C61.3949 119.142 72.2804 129.893 75.0959 143.589" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M6.65454 143.881C9.27268 130.114 20.0241 119.228 33.7203 116.413" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M75.1953 159.226C72.5772 172.993 61.8258 183.878 48.1295 186.694" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M34.1228 186.458C20.3556 183.84 9.47004 173.088 6.65456 159.392" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M100.56 6.2334V82.9299" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M100.56 109.762V186.458" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M81.6328 96.0117L4.93636 96.0117" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M194.403 96.0117L117.706 96.0117" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% elseif content.field_course_type[0]['#markup'] == 'Course' %}
      <svg width="189" height="184" viewBox="0 0 189 184" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M184.936 4.97656L4.93691 4.97656" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M184.936 149.696H4.93618" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M184.936 179.499H4.93691" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M184.936 114.469C184.936 66.3665 144.642 27.3721 94.9367 27.3721C45.2312 27.3721 4.93701 66.3665 4.93701 114.469" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M121.065 114.469C121.065 101.642 109.367 91.2432 94.9363 91.2432C80.5057 91.2432 68.8074 101.642 68.8074 114.469" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M97.8389 44.791L97.8389 73.8232" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M33.969 73.8242L59.1116 88.3403" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M159.578 77.2559L134.436 91.7719" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% elseif content.field_course_type[0]['#markup'] == 'Brochure' or content.field_course_type[0]['#markup'] == 'Report' or content.field_course_type[0]['#markup'] == 'Book' %}
      <svg width="189" height="180" viewBox="0 0 189 180" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.93628 4.97656L85.9363 36.9766" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M183.936 4.97656L103.936 36.9766" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M4.93628 96.9766L84.9363 128.977" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M184.936 96.9766L104.936 128.977" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M4.93628 51.9766L84.9363 83.9766" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M184.936 51.9766L103.936 83.9766" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M5.93628 143.977L85.9363 175.977" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M183.936 143.977L103.936 175.977" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% elseif content.field_course_type[0]['#markup'] == 'Video' %}
      <svg width="192" height="176" viewBox="0 0 192 176" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M162.431 6.79199C175.084 9.19828 185.089 19.0797 187.676 31.6677" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M5.30615 31.668C7.71244 19.0148 17.5938 9.01005 30.1818 6.42239" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M187.676 142.583C185.27 155.236 175.389 165.241 162.801 167.829" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M30.1819 170.353C17.5287 167.946 7.52397 158.065 4.93631 145.477" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M187.676 47.3584L187.676 123.979" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M4.93628 48.8271L4.93628 125.448" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M138.351 4.97656L53.1614 4.97656" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M138.351 171.115H53.1614" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M63.9502 125.447L63.9502 51.1054" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M85.521 114.334L85.521 62.2181" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M107.092 102.825L107.092 73.7272" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M128.662 91.4883L128.662 85.0649" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% elseif content.field_course_type[0]['#markup'] == 'Webinar' %}
      <svg width="199" height="191" viewBox="0 0 199 191" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M47.5286 5.08691C61.2958 7.70505 72.1813 18.4564 74.9968 32.1527" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M6.55542 32.4443C9.17356 18.6771 19.9249 7.79157 33.6212 4.97609" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M75.0959 47.7891C72.4778 61.5563 61.7264 72.4418 48.0302 75.2573" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M34.0237 75.0225C20.2565 72.4043 9.37092 61.6529 6.55544 47.9567" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M163.133 5.43945C176.9 8.05759 187.785 18.809 190.601 32.5052" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M122.16 32.7969C124.778 19.0297 135.529 8.14411 149.225 5.32863" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M190.7 48.1416C188.082 61.9088 177.331 72.7944 163.635 75.6098" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M149.628 75.375C135.861 72.7569 124.975 62.0055 122.16 48.3092" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M163.133 116.523C176.9 119.142 187.786 129.893 190.601 143.589" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M122.16 143.881C124.778 130.114 135.529 119.228 149.226 116.413" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M190.701 159.226C188.083 172.993 177.331 183.878 163.635 186.694" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M149.628 186.458C135.861 183.84 124.975 173.088 122.16 159.392" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M47.6277 116.523C61.3949 119.142 72.2804 129.893 75.0959 143.589" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M6.65454 143.881C9.27268 130.114 20.0241 119.228 33.7203 116.413" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M75.1953 159.226C72.5772 172.993 61.8258 183.878 48.1295 186.694" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M34.1228 186.458C20.3556 183.84 9.47004 173.088 6.65456 159.392" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M100.56 6.2334V82.9299" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M100.56 109.762V186.458" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M81.6328 96.0117L4.93636 96.0117" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M194.403 96.0117L117.706 96.0117" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% elseif content.field_course_type[0]['#markup'] == 'E-Learning Tool' %}
      <svg width="174" height="178" viewBox="0 0 174 178" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M103.461 5.24121C136.566 11.5369 162.742 37.3899 169.512 70.3244" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M4.93628 71.0273C11.2319 37.9223 37.085 11.7466 70.0194 4.97642" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M169.751 107.926C163.456 141.031 137.602 167.207 104.668 173.977" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M70.9873 173.41C37.8822 167.115 11.7066 141.261 4.93639 108.327" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M134.819 57.251C147.502 75.8908 147.654 100.505 135.276 119.288" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M57.0862 41.7637C75.726 29.0806 100.34 28.928 119.123 41.3058" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M117.601 137.189C98.9615 149.873 74.3477 150.025 55.5641 137.647" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M39.8982 121.446C27.2151 102.807 27.0625 78.1926 39.4404 59.4091" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M115.935 94.9473C113.798 106.184 105.023 115.068 93.8445 117.366" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M93.6062 61.5059C104.843 63.6427 113.727 72.4178 116.025 83.5964" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M81.082 117.447C69.8455 115.31 60.9609 106.535 58.663 95.3567" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M58.8552 83.9248C60.9921 72.6883 69.7672 63.8037 80.9458 61.5057" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% elseif content.field_course_type[0]['#markup'] == 'Presentation/Slides' %}
      <svg width="191" height="175" viewBox="0 0 191 175" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M186.774 18.8887L186.774 156.239" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M163.502 38.2822L163.502 138.44" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M134.695 70.6807L134.695 111.568" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M4.93628 18.8887L4.93629 156.239" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M30.9033 38.2822L30.9033 138.44" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M59.7097 70.6807L59.7097 111.568" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M172.935 4.97656L21.4701 4.97656" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M153.41 28.1377L42.9599 28.1377" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M128.988 57.0547L66.5279 57.0547" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M172.935 170.216H21.4701" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M153.41 148.632H42.9599" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
        <path d="M128.988 125.194H66.5279" stroke="{{ bg_image_color }}" stroke-width="8" stroke-linecap="round"/>
      </svg>
    {% endif %}
  </div>

  <a class="learning-material" href="{{ content.field_external_url[0]['#url'] }}">
    <div class="d-flex" style="height:40px;">
      <div class="col-md-8" style="line-height: 15px;">
        <b style="font-size: 14px;">{{ content.field_domains_of_interest[0]['#title']}}</b>
      </div>
      <div class="col-md-1"></div>
      <div>
        <b style="font-size: 10px;">{{ content.field_d_date }}</b>
      </div>
    </div>
    <div>
      <h4>{{ label }}</h4>
    </div>
    <div class="bottom-left">
      <p>{{ content.field_course_type[0]['#markup'] }}</p>
    </div>
    <div class="bottom-right">
      <p>{{ content.field_course_accessibility[0]['#markup'] }}</p>
    </div>
  </a>
</div>
