{#
/**
 * @file
 * Parc theme implementation for main view template.
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  <header>
    <div class="top">
      <div id="parc-projects-stories-svg">
        <div class="svg-title">
          <h1>{{ "Projects" | t }}</h1>
        </div>
        {{ exposed }}
      </div>
    </div>
  </header>

  {{ attachment_before }}

  {% if rows -%}
    <div class="row g-4 projects-view mt-0">
      {{ rows }}
    </div>
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
</div>
