{#
/**
 * @file
 * Parc override to display a taxonomy term.
 */
#}
{%
  set classes = [
    't-term',
    't-term--' ~ term.bundle|clean_class,
    view_mode ? 't-term--' ~ term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<div{{attributes.setAttribute('id','taxonomy-term-'~term.id).addClass(classes)}}>
  {{ title_prefix }}
  {% if name %}
    <h2>
      <a href="{{ url }}">{{ name }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {{ content }}
</div>
