{#
/**
 * @file
 * Parc theme implementation for a 'form' element.
 */
#}
{{ attach_library('parc/svg_title') }}

<div class="events-filters">
  <div class="d-flex filters-row">
    <div class="filters flex-grow-1 d-flex">
      <div>
        {{ form.category_collapsible }}
      </div>

      <div>
        {{ form.training_topic_collapsible }}
      </div>
    </div>

    <div class="col-auto col-auto order-1 order-md-3 d-flex justify-content-end w--sort-by">
      {{ form.sort_bef_combine }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 me-auto order-2 mt-3 mt-md-3 parc-col--categories">
    <div id="js-selected-category" class="w--labels d-flex gap-2"></div>
  </div>
</div>

{{ form|without('sort_bef_combine', 'category_collapsible', 'training_topic_collapsible') }}
