{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--basic-page-full') }}
{{ attach_library('parc/n--events-full') }}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

<article{{attributes.addClass(classes).setAttribute('style','--ne-c-cat:'~color~';')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="page-title text-lg-center">
    {% if not training_event %}
      <svg width="340" height="65" viewbox="0 0 340 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_466_4313)">
          <path d="M73.5914 30.6439L63.1992 3.24072M83.0992 55.6875L78.7717 44.2983" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M111.622 3.24072L101.23 30.6439M96.0813 44.2983L91.7539 55.6875" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M11.5879 30.5808V10.4453" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M11.5879 54.7121V44.6758" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M18.8857 62.0425H50.1887" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M50.1887 3.64941H18.8857" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M18.8857 34.1362H43.6501" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M125.996 30.7066V10.6025" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M125.996 54.8693V44.833" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M133.293 62.1997H164.596" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M164.628 3.77539H133.325" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M133.293 34.2617H158.057" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M188.412 3.11475L219.462 49.804" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M181.054 10.4453V30.3921" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M181.054 44.9902V62.074" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M226.381 44.9902V62.074" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M226.381 3.11475V30.3921" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M264.792 62.0114V44.8647" stroke="black" stroke-width="5.46629" stroke-linecap="round"/>
          <path d="M264.792 30.1088V10.6025" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M271.771 3.20898H289.554" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M239.708 3.08301H257.523" stroke="black" stroke-width="5.35504" stroke-linecap="round"/>
          <path d="M297.958 47.3501C298.495 54.3975 303.012 59.3685 310.056 61.2562" stroke="black" stroke-width="5.52305" stroke-linecap="round"/>
          <path d="M335.861 19.0975C335.166 11.7355 330.934 6.67014 324.237 4.75098" stroke="black" stroke-width="5.52305" stroke-linecap="round"/>
          <path d="M310.433 4.37305C304.969 6.07198 300.926 9.28108 298.936 13.5913" stroke="black" stroke-width="5.52305" stroke-linecap="round"/>
          <path d="M324.68 61.2248C332.482 59.2112 337.22 53.7683 337.22 46.1231V45.022" stroke="black" stroke-width="5.52305" stroke-linecap="round"/>
          <path d="M330.05 33.9157C327.681 33.3494 306.486 27.5604 303.074 26.4907" stroke="black" stroke-width="5.52305" stroke-linecap="round"/>
          <path d="M76.3408 40.4597C77.8586 40.4597 79.089 39.2342 79.089 37.7225C79.089 36.2108 77.8586 34.9854 76.3408 34.9854C74.8231 34.9854 73.5928 36.2108 73.5928 37.7225C73.5928 39.2342 74.8231 40.4597 76.3408 40.4597Z" fill="black"/>
          <path d="M87.2071 65.0315C88.7248 65.0315 89.9551 63.806 89.9551 62.2943C89.9551 60.7826 88.7248 59.5571 87.2071 59.5571C85.6893 59.5571 84.459 60.7826 84.459 62.2943C84.459 63.806 85.6893 65.0315 87.2071 65.0315Z" fill="black"/>
          <path d="M337.251 40.7116C338.769 40.7116 339.999 39.4862 339.999 37.9745C339.999 36.4628 338.769 35.2373 337.251 35.2373C335.733 35.2373 334.503 36.4628 334.503 37.9745C334.503 39.4862 335.733 40.7116 337.251 40.7116Z" fill="black"/>
          <path d="M298.525 23.4075C300.043 23.4075 301.273 22.182 301.273 20.6703C301.273 19.1586 300.043 17.9331 298.525 17.9331C297.008 17.9331 295.777 19.1586 295.777 20.6703C295.777 22.182 297.008 23.4075 298.525 23.4075Z" fill="black"/>
          <path d="M317.384 64.654C318.902 64.654 320.132 63.4286 320.132 61.9169C320.132 60.4052 318.902 59.1797 317.384 59.1797C315.866 59.1797 314.636 60.4052 314.636 61.9169C314.636 63.4286 315.866 64.654 317.384 64.654Z" fill="black"/>
          <path d="M317.384 6.44993C318.902 6.44993 320.132 5.22446 320.132 3.71276C320.132 2.20106 318.902 0.975586 317.384 0.975586C315.866 0.975586 314.636 2.20106 314.636 3.71276C314.636 5.22446 315.866 6.44993 317.384 6.44993Z" fill="black"/>
          <path d="M181.053 40.5227C182.571 40.5227 183.801 39.2972 183.801 37.7855C183.801 36.2738 182.571 35.0483 181.053 35.0483C179.535 35.0483 178.305 36.2738 178.305 37.7855C178.305 39.2972 179.535 40.5227 181.053 40.5227Z" fill="black"/>
          <path d="M226.38 40.5227C227.898 40.5227 229.128 39.2972 229.128 37.7855C229.128 36.2738 227.898 35.0483 226.38 35.0483C224.862 35.0483 223.632 36.2738 223.632 37.7855C223.632 39.2972 224.862 40.5227 226.38 40.5227Z" fill="black"/>
          <path d="M181.053 5.94651C182.571 5.94651 183.801 4.72104 183.801 3.20934C183.801 1.69764 182.571 0.472168 181.053 0.472168C179.535 0.472168 178.305 1.69764 178.305 3.20934C178.305 4.72104 179.535 5.94651 181.053 5.94651Z" fill="black"/>
          <path d="M11.5869 40.5227C13.1047 40.5227 14.335 39.2972 14.335 37.7855C14.335 36.2738 13.1047 35.0483 11.5869 35.0483C10.0692 35.0483 8.83887 36.2738 8.83887 37.7855C8.83887 39.2972 10.0692 40.5227 11.5869 40.5227Z" fill="black"/>
          <path d="M11.5869 6.38694C13.1047 6.38694 14.335 5.16147 14.335 3.64977C14.335 2.13807 13.1047 0.912598 11.5869 0.912598C10.0692 0.912598 8.83887 2.13807 8.83887 3.64977C8.83887 5.16147 10.0692 6.38694 11.5869 6.38694Z" fill="black"/>
          <path d="M11.5869 64.4968C13.1047 64.4968 14.335 63.2713 14.335 61.7596C14.335 60.2479 13.1047 59.0225 11.5869 59.0225C10.0692 59.0225 8.83887 60.2479 8.83887 61.7596C8.83887 63.2713 10.0692 64.4968 11.5869 64.4968Z" fill="black"/>
          <path d="M125.997 40.6799C127.515 40.6799 128.745 39.4544 128.745 37.9427C128.745 36.431 127.515 35.2056 125.997 35.2056C124.479 35.2056 123.249 36.431 123.249 37.9427C123.249 39.4544 124.479 40.6799 125.997 40.6799Z" fill="black"/>
          <path d="M125.997 6.51243C127.515 6.51243 128.745 5.28696 128.745 3.77526C128.745 2.26356 127.515 1.03809 125.997 1.03809C124.479 1.03809 123.249 2.26356 123.249 3.77526C123.249 5.28696 124.479 6.51243 125.997 6.51243Z" fill="black"/>
          <path d="M125.997 64.654C127.515 64.654 128.745 63.4286 128.745 61.9169C128.745 60.4052 127.515 59.1797 125.997 59.1797C124.479 59.1797 123.249 60.4052 123.249 61.9169C123.249 63.4286 124.479 64.654 125.997 64.654Z" fill="black"/>
          <path d="M264.727 5.94651C266.244 5.94651 267.475 4.72104 267.475 3.20934C267.475 1.69764 266.244 0.472168 264.727 0.472168C263.209 0.472168 261.979 1.69764 261.979 3.20934C261.979 4.72104 263.209 5.94651 264.727 5.94651Z" fill="black"/>
          <path d="M264.791 40.2712C266.309 40.2712 267.539 39.0457 267.539 37.534C267.539 36.0224 266.309 34.7969 264.791 34.7969C263.273 34.7969 262.043 36.0224 262.043 37.534C262.043 39.0457 263.273 40.2712 264.791 40.2712Z" fill="black"/>
        </g>
        <defs>
          <clipPath id="clip0_466_4313">
            <rect width="340" height="65" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    {% else %}
      <svg width="488" height="67" viewBox="0 0 488 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M465.305 0.759766C466.761 0.759766 468.035 2.03376 468.035 3.58076C468.035 4.94576 466.761 6.21977 465.305 6.21977C463.849 6.21977 462.575 4.94576 462.575 3.58076C462.575 2.03376 463.849 0.759766 465.305 0.759766ZM457.752 31.6998C457.479 31.6998 457.115 31.6088 456.842 31.5178C449.016 28.7878 445.103 23.7828 445.103 16.7758C445.103 9.13176 449.744 3.48976 457.752 1.48776C459.208 1.12376 460.755 2.03376 461.119 3.48976C461.483 5.03676 460.573 6.58376 459.117 7.03876C453.566 8.40376 450.745 11.6798 450.745 16.7758C450.745 22.5998 454.931 24.9658 458.662 26.2398C460.118 26.7858 460.937 28.3328 460.391 29.7888C460.027 30.9718 458.935 31.6998 457.752 31.6998ZM482.413 18.1408C481.23 18.1408 480.138 17.3218 479.865 16.1388C478.682 11.4068 475.77 8.22176 471.402 6.85676C469.946 6.40176 469.218 4.76376 469.673 3.39876C470.128 2.03376 471.584 1.21476 473.04 1.66976C479.137 3.58076 483.414 8.31277 485.143 14.7738C485.507 16.3208 484.597 17.6858 483.141 18.0498C482.868 18.1408 482.686 18.1408 482.413 18.1408ZM465.214 27.7868C466.67 27.7868 467.944 29.0608 467.944 30.6078C467.944 31.9728 466.67 33.2468 465.214 33.2468C463.758 33.2468 462.484 31.9728 462.484 30.6078C462.484 29.0608 463.758 27.7868 465.214 27.7868ZM472.767 65.1878C471.675 65.1878 470.583 64.4598 470.31 63.2768C470.037 61.9118 470.856 60.4558 472.221 60.0918C476.953 58.9998 482.595 55.7238 482.595 46.9878C482.595 39.7078 479.228 35.4308 472.13 33.7018C470.765 33.3378 469.946 31.9728 470.31 30.6078C470.674 29.2428 472.039 28.4238 473.404 28.7878C482.777 31.0628 487.782 37.3418 487.782 46.9878C487.782 56.2698 482.504 62.9128 473.404 65.0968C473.222 65.1878 472.949 65.1878 472.767 65.1878ZM457.752 65.0968C457.479 65.0968 457.297 65.0058 457.024 65.0058C448.561 62.7308 443.192 56.4518 442.555 48.1708C442.373 46.6238 443.556 45.3498 445.103 45.1678C446.65 45.0768 448.106 46.2598 448.197 47.7158C448.652 53.7218 452.292 57.8168 458.48 59.4548C459.936 59.9098 460.846 61.5478 460.482 63.0038C460.118 64.2778 458.935 65.0968 457.752 65.0968ZM465.487 60.1828C466.943 60.1828 468.217 61.4568 468.217 63.0038C468.217 64.3688 466.943 65.6428 465.487 65.6428C464.031 65.6428 462.757 64.3688 462.757 63.0038C462.757 61.4568 464.031 60.1828 465.487 60.1828Z" fill="black"/>
        <path d="M401.684 6.12895C403.231 6.12895 404.414 4.94595 404.414 3.39895C404.414 1.85195 403.231 0.668945 401.684 0.668945C400.137 0.668945 398.954 1.85195 398.954 3.39895C398.954 4.94595 400.137 6.12895 401.684 6.12895ZM375.203 32.8829C373.747 32.8829 372.564 31.6089 372.655 30.1529V29.0609C372.746 24.2379 373.929 19.5059 376.113 15.4109C379.844 8.40395 385.759 3.58095 393.403 1.48795C394.859 0.941947 396.315 1.94295 396.679 3.30795C397.134 4.76395 396.224 6.21995 394.859 6.58395C388.58 8.31295 383.939 12.135 380.936 17.9589C379.116 21.235 378.115 25.2389 378.024 29.1519L377.933 30.2439C377.933 31.6999 376.75 32.8829 375.294 32.8829H375.203ZM425.799 18.7779C424.707 18.7779 423.797 18.2319 423.342 17.3219C420.43 11.7709 415.152 8.03995 408.418 6.76595C406.962 6.49295 406.143 5.12795 406.416 3.67195C406.689 2.21595 407.963 1.21495 409.419 1.48795C417.791 3.12595 424.434 7.85795 428.165 14.8649C428.893 16.1389 428.347 17.7769 427.073 18.414C426.618 18.6869 426.254 18.7779 425.799 18.7779ZM375.385 41.073C376.932 41.073 378.115 39.8899 378.115 38.3429C378.115 36.7959 376.932 35.6129 375.385 35.6129C373.838 35.6129 372.655 36.7959 372.655 38.3429C372.655 39.8899 373.838 41.073 375.385 41.073ZM406.962 41.073C405.506 41.073 404.232 39.7989 404.232 38.3429C404.232 36.8869 405.506 35.6129 406.962 35.6129H419.884C421.34 35.6129 422.523 36.8869 422.523 38.3429C422.523 39.7989 421.34 41.073 419.884 41.073H406.962ZM427.073 41.073C428.62 41.073 429.803 39.8899 429.803 38.3429C429.803 36.7959 428.62 35.6129 427.073 35.6129C425.526 35.6129 424.343 36.7959 424.343 38.3429C424.343 39.8899 425.526 41.073 427.073 41.073ZM427.164 65.643C425.708 65.643 424.434 64.46 424.434 63.004V45.6229C424.434 44.1669 425.708 42.9839 427.164 42.9839C428.62 42.9839 429.803 44.1669 429.803 45.6229V63.004C429.803 64.46 428.62 65.643 427.164 65.643ZM394.04 65.188C393.767 65.188 393.585 65.1879 393.312 65.0969C384.303 62.7309 377.66 56.361 374.384 47.17C373.838 45.805 374.566 44.2579 376.022 43.8029C377.387 43.2569 379.025 43.9849 379.48 45.4409C382.119 52.9029 387.488 57.999 394.677 59.91C396.133 60.456 396.952 61.912 396.588 63.368C396.315 64.551 395.223 65.188 394.04 65.188ZM408.509 65.188C407.326 65.188 406.234 64.278 406.052 63.004C405.688 61.548 406.689 60.183 408.054 59.728C411.967 59 415.607 57.3619 418.519 54.9959C419.611 54.0859 421.34 54.1769 422.25 55.3599C423.251 56.4519 423.069 58.1809 421.977 58.9999C418.428 62.0939 413.969 64.1869 409.055 65.0969C408.873 65.1879 408.691 65.188 408.509 65.188ZM401.684 66.098C403.231 66.098 404.414 64.915 404.414 63.368C404.414 61.821 403.231 60.6379 401.684 60.6379C400.137 60.6379 398.954 61.821 398.954 63.368C398.954 64.915 400.137 66.098 401.684 66.098Z" fill="black"/>
        <path d="M314.701 5.12789C313.791 3.76289 314.064 2.30689 315.338 1.48789C316.43 0.668892 318.159 0.941895 318.978 2.21589L349.827 48.8989C350.646 50.0819 350.373 51.6289 349.008 52.4479C348.644 52.8119 348.098 52.9939 347.552 52.9939C346.642 52.9939 345.732 52.5389 345.277 51.8109L314.701 5.12789ZM351.829 3.67189C351.829 2.21589 352.921 0.941895 354.377 0.941895C355.833 0.941895 357.198 2.21589 357.198 3.67189V30.8809C357.198 32.3369 355.833 33.6109 354.377 33.6109C352.921 33.6109 351.829 32.3369 351.829 30.8809V3.67189ZM306.602 4.1269C306.602 2.57989 307.967 1.30589 309.423 1.30589C310.97 1.30589 312.062 2.57989 312.062 4.1269C312.062 5.58289 310.97 6.7659 309.423 6.7659C307.967 6.7659 306.602 5.58289 306.602 4.1269ZM306.693 10.9519C306.693 9.5869 307.967 8.3129 309.423 8.3129C310.879 8.3129 311.971 9.5869 311.971 10.9519V30.8809C311.971 32.3369 310.879 33.6109 309.423 33.6109C307.967 33.6109 306.693 32.3369 306.693 30.8809V10.9519ZM351.738 38.3429C351.738 36.7959 352.83 35.5219 354.377 35.5219C355.833 35.5219 357.198 36.7959 357.198 38.3429C357.198 39.7989 355.833 40.9819 354.377 40.9819C352.83 40.9819 351.738 39.7989 351.738 38.3429ZM306.602 38.4339C306.602 36.8869 307.967 35.6129 309.423 35.6129C310.97 35.6129 312.062 36.8869 312.062 38.4339C312.062 39.8899 310.97 41.0729 309.423 41.0729C307.967 41.0729 306.602 39.8899 306.602 38.4339ZM306.693 45.3499C306.693 43.8939 307.967 42.8929 309.423 42.8929C310.879 42.8929 311.971 43.8939 311.971 45.3499V62.4579C311.971 63.9139 310.879 65.1879 309.423 65.1879C307.967 65.1879 306.693 63.9139 306.693 62.4579V45.3499ZM351.829 45.3499C351.829 43.8939 352.921 42.8929 354.377 42.8929C355.833 42.8929 357.198 43.8939 357.198 45.3499V62.4579C357.198 63.9139 355.833 65.1879 354.377 65.1879C352.921 65.1879 351.829 63.9139 351.829 62.4579V45.3499Z" fill="black"/>
        <path d="M282.963 4.1268C282.963 2.57979 284.237 1.48779 285.602 1.48779C287.058 1.48779 288.241 2.57979 288.241 4.1268V31.4268C288.241 32.8828 287.058 34.0658 285.602 34.0658C284.237 34.0658 282.963 32.8828 282.963 31.4268V4.1268ZM285.693 41.0728C287.24 41.0728 288.423 39.8898 288.423 38.3428C288.423 36.7958 287.24 35.6128 285.693 35.6128C284.146 35.6128 282.963 36.7958 282.963 38.3428C282.963 39.8898 284.146 41.0728 285.693 41.0728ZM282.963 45.4408C282.963 43.9848 284.237 42.8018 285.602 42.8018C287.058 42.8018 288.241 43.9848 288.241 45.4408V62.5488C288.241 64.0958 287.058 65.1878 285.602 65.1878C284.237 65.1878 282.963 64.0958 282.963 62.5488V45.4408Z" fill="black"/>
        <path d="M222.279 5.12789C221.369 3.76289 221.642 2.30689 222.916 1.48789C224.008 0.668892 225.737 0.941895 226.556 2.21589L257.405 48.8989C258.224 50.0819 257.951 51.6289 256.586 52.4479C256.222 52.8119 255.676 52.9939 255.13 52.9939C254.22 52.9939 253.31 52.5389 252.855 51.8109L222.279 5.12789ZM259.407 3.67189C259.407 2.21589 260.499 0.941895 261.955 0.941895C263.411 0.941895 264.776 2.21589 264.776 3.67189V30.8809C264.776 32.3369 263.411 33.6109 261.955 33.6109C260.499 33.6109 259.407 32.3369 259.407 30.8809V3.67189ZM214.18 4.1269C214.18 2.57989 215.545 1.30589 217.001 1.30589C218.548 1.30589 219.64 2.57989 219.64 4.1269C219.64 5.58289 218.548 6.7659 217.001 6.7659C215.545 6.7659 214.18 5.58289 214.18 4.1269ZM214.271 10.9519C214.271 9.5869 215.545 8.3129 217.001 8.3129C218.457 8.3129 219.549 9.5869 219.549 10.9519V30.8809C219.549 32.3369 218.457 33.6109 217.001 33.6109C215.545 33.6109 214.271 32.3369 214.271 30.8809V10.9519ZM259.316 38.3429C259.316 36.7959 260.408 35.5219 261.955 35.5219C263.411 35.5219 264.776 36.7959 264.776 38.3429C264.776 39.7989 263.411 40.9819 261.955 40.9819C260.408 40.9819 259.316 39.7989 259.316 38.3429ZM214.18 38.4339C214.18 36.8869 215.545 35.6129 217.001 35.6129C218.548 35.6129 219.64 36.8869 219.64 38.4339C219.64 39.8899 218.548 41.0729 217.001 41.0729C215.545 41.0729 214.18 39.8899 214.18 38.4339ZM214.271 45.3499C214.271 43.8939 215.545 42.8929 217.001 42.8929C218.457 42.8929 219.549 43.8939 219.549 45.3499V62.4579C219.549 63.9139 218.457 65.1879 217.001 65.1879C215.545 65.1879 214.271 63.9139 214.271 62.4579V45.3499ZM259.407 45.3499C259.407 43.8939 260.499 42.8929 261.955 42.8929C263.411 42.8929 264.776 43.8939 264.776 45.3499V62.4579C264.776 63.9139 263.411 65.1879 261.955 65.1879C260.499 65.1879 259.407 63.9139 259.407 62.4579V45.3499Z" fill="black"/>
        <path d="M190.541 4.1268C190.541 2.57979 191.815 1.48779 193.18 1.48779C194.636 1.48779 195.819 2.57979 195.819 4.1268V31.4268C195.819 32.8828 194.636 34.0658 193.18 34.0658C191.815 34.0658 190.541 32.8828 190.541 31.4268V4.1268ZM193.271 41.0728C194.818 41.0728 196.001 39.8898 196.001 38.3428C196.001 36.7958 194.818 35.6128 193.271 35.6128C191.724 35.6128 190.541 36.7958 190.541 38.3428C190.541 39.8898 191.724 41.0728 193.271 41.0728ZM190.541 45.4408C190.541 43.9848 191.815 42.8018 193.18 42.8018C194.636 42.8018 195.819 43.9848 195.819 45.4408V62.5488C195.819 64.0958 194.636 65.1878 193.18 65.1878C191.815 65.1878 190.541 64.0958 190.541 62.5488V45.4408Z" fill="black"/>
        <path d="M149.691 1.48779C151.147 1.48779 152.421 2.67079 152.421 4.2178C152.421 5.76479 151.147 6.94779 149.691 6.94779C148.144 6.94779 146.961 5.76479 146.961 4.2178C146.961 2.67079 148.144 1.48779 149.691 1.48779ZM137.588 33.6108C137.224 33.6108 136.86 33.6108 136.587 33.4288C135.222 32.8828 134.494 31.3358 135.131 29.9708L143.23 9.95079C143.776 8.5858 145.414 7.9488 146.779 8.4948C148.144 9.0408 148.781 10.5878 148.235 11.9528L140.045 31.9728C139.59 32.9738 138.589 33.6108 137.588 33.6108ZM162.34 33.6108C161.339 33.6108 160.338 33.0648 159.883 32.0638L150.965 12.0438C150.328 10.6788 150.965 9.13179 152.33 8.4948C153.604 7.9488 155.242 8.4948 155.788 9.85979L164.797 29.8798C165.343 31.2448 164.797 32.7918 163.432 33.4288C163.068 33.5198 162.704 33.6108 162.34 33.6108ZM134.221 35.9768C135.677 35.9768 136.951 37.2508 136.951 38.7068C136.951 40.2538 135.677 41.4368 134.221 41.4368C132.674 41.4368 131.491 40.2538 131.491 38.7068C131.491 37.2508 132.674 35.9768 134.221 35.9768ZM141.228 41.3458C139.681 41.3458 138.498 40.1628 138.498 38.7068C138.498 37.1598 139.681 35.9768 141.228 35.9768H158.063C159.519 35.9768 160.793 37.1598 160.793 38.7068C160.793 40.1628 159.519 41.3458 158.063 41.3458H141.228ZM165.616 41.4368C167.163 41.4368 168.346 40.2538 168.346 38.7068C168.346 37.1598 167.163 35.9768 165.616 35.9768C164.069 35.9768 162.886 37.1598 162.886 38.7068C162.886 40.2538 164.069 41.4368 165.616 41.4368ZM123.756 65.1878C123.392 65.1878 123.028 65.0968 122.664 64.9148C121.299 64.3688 120.662 62.7308 121.299 61.3658L128.761 44.8948C129.398 43.5298 130.945 42.9838 132.31 43.5298C133.675 44.1668 134.312 45.7138 133.675 47.0788L126.122 63.6408C125.758 64.6418 124.757 65.1878 123.756 65.1878ZM176.081 65.1878C174.989 65.1878 174.079 64.6418 173.624 63.6408L166.071 47.1698C165.434 45.8048 165.98 44.2578 167.345 43.6208C168.892 43.1658 170.257 43.6208 170.894 44.8948L178.447 61.3658C179.084 62.7308 178.538 64.3688 177.173 64.9148C176.809 65.0968 176.445 65.1878 176.081 65.1878Z" fill="black"/>
        <path d="M69.4507 1.48779C70.9067 1.48779 72.1807 2.76179 72.1807 4.2178C72.1807 5.67379 70.9067 6.94779 69.4507 6.94779C67.9947 6.94779 66.7207 5.67379 66.7207 4.2178C66.7207 2.76179 67.9947 1.48779 69.4507 1.48779ZM101.847 39.2528C100.846 39.2528 99.9357 38.6158 99.4807 37.7058C98.8437 36.3408 99.4807 34.7938 100.755 34.1568C105.669 31.8818 108.49 27.2408 108.49 21.2348C108.49 12.4078 102.939 6.94779 94.0207 6.94779H76.8217C75.3657 6.94779 74.1827 5.76479 74.1827 4.30879C74.1827 2.85279 75.3657 1.6698 76.8217 1.6698H94.0207C105.76 1.6698 113.768 9.4958 113.768 21.2348C113.768 29.2428 109.673 35.8858 103.03 38.9798C102.666 39.1618 102.302 39.2528 101.847 39.2528ZM69.4507 33.2468C67.9947 33.2468 66.8117 32.0638 66.8117 30.6078V11.2248C66.8117 9.7688 67.9947 8.58579 69.4507 8.58579C70.9067 8.58579 72.0897 9.7688 72.0897 11.2248V30.6078C72.0897 32.0638 70.9067 33.2468 69.4507 33.2468ZM69.4507 35.5218C70.9067 35.5218 72.1807 36.7958 72.1807 38.2518C72.1807 39.7078 70.9067 40.9818 69.4507 40.9818C67.9947 40.9818 66.7207 39.7078 66.7207 38.2518C66.7207 36.7958 67.9947 35.5218 69.4507 35.5218ZM94.9307 35.5218C96.3867 35.5218 97.6607 36.7958 97.6607 38.2518C97.6607 39.7078 96.3867 40.9818 94.9307 40.9818C93.4747 40.9818 92.2007 39.7078 92.2007 38.2518C92.2007 36.7958 93.4747 35.5218 94.9307 35.5218ZM76.8217 40.8908C75.3657 40.8908 74.1827 39.7078 74.1827 38.2518C74.1827 36.7958 75.3657 35.6128 76.8217 35.6128H87.5597C89.0157 35.6128 90.1987 36.7958 90.1987 38.2518C90.1987 39.7078 89.0157 40.8908 87.5597 40.8908H76.8217ZM106.397 64.5508C105.396 64.5508 104.486 64.0048 103.94 63.0948L98.2977 52.3568L95.2037 46.8058C94.4757 45.5318 94.9307 43.8938 96.2957 43.1658C97.5697 42.4378 99.2077 42.8928 100.027 44.1668L103.121 49.8088L108.763 60.5468C109.491 61.9118 108.945 63.5498 107.671 64.1868C107.216 64.4598 106.852 64.5508 106.397 64.5508ZM69.4507 65.1878C67.9947 65.1878 66.7207 64.0048 66.7207 62.4578V45.5318C66.7207 43.9848 67.9947 42.8018 69.4507 42.8018C70.9067 42.8018 72.1807 43.9848 72.1807 45.5318V62.4578C72.1807 64.0048 70.9067 65.1878 69.4507 65.1878Z" fill="black"/>
        <path d="M3.04037 6.7658C1.58437 6.7658 0.401367 5.58279 0.401367 4.1268C0.401367 2.67079 1.58437 1.48779 3.04037 1.48779H20.6034C22.0594 1.48779 23.2424 2.67079 23.2424 4.1268C23.2424 5.58279 22.0594 6.7658 20.6034 6.7658H3.04037ZM27.7014 6.94779C29.2484 6.94779 30.4314 5.76479 30.4314 4.2178C30.4314 2.67079 29.2484 1.48779 27.7014 1.48779C26.1544 1.48779 24.9714 2.67079 24.9714 4.2178C24.9714 5.76479 26.1544 6.94779 27.7014 6.94779ZM34.7084 6.7658C33.2524 6.7658 32.0694 5.58279 32.0694 4.1268C32.0694 2.67079 33.2524 1.48779 34.7084 1.48779H52.2714C53.7274 1.48779 54.9104 2.67079 54.9104 4.1268C54.9104 5.58279 53.7274 6.7658 52.2714 6.7658H34.7084ZM27.7924 33.5198C26.3364 33.5198 25.1534 32.3368 25.1534 30.8808V11.4978C25.1534 10.0418 26.3364 8.8588 27.7924 8.8588C29.2484 8.8588 30.4314 10.0418 30.4314 11.4978V30.8808C30.4314 32.3368 29.2484 33.5198 27.7924 33.5198ZM27.7014 40.7998C29.2484 40.7998 30.4314 39.6168 30.4314 38.0698C30.4314 36.5228 29.2484 35.3398 27.7014 35.3398C26.1544 35.3398 24.9714 36.5228 24.9714 38.0698C24.9714 39.6168 26.1544 40.7998 27.7014 40.7998ZM27.7924 65.1878C26.3364 65.1878 25.0624 64.0048 25.0624 62.4578V45.4408C25.0624 43.9848 26.3364 42.8018 27.7924 42.8018C29.3394 42.8018 30.5224 43.9848 30.5224 45.4408V62.4578C30.5224 64.0048 29.3394 65.1878 27.7924 65.1878Z" fill="black"/>
      </svg>
    {% endif %}
  </div>

  {{ content }}

  <div class="card-styled-border d-xl-none">
    <svg class="svg-footer" width="1280" height="30" viewbox="0 0 1280 30" ref="svg" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g style="mix-blend-mode:multiply"><path class="line1" d="M24 14H224" stroke="#6E009A" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M694 15H742" stroke="#E0C7F5" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M500 14L562 14" stroke="#F37777" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M1089 15L1151 15" stroke="#7AB7FF" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M331 14L393 14" stroke="#006357" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M813 15L932 15" stroke="#31D9C4" stroke-width="16" stroke-linecap="round"/></g>
      <circle cx="260" cy="15" r="7" fill="black"/>
      <circle cx="815" cy="15" r="7" fill="black"/>
      <circle cx="695" cy="15" r="7" fill="black"/>
      <circle cx="295" cy="15" r="7" fill="black"/>
      <circle cx="930" cy="15" r="7" fill="black"/>
      <circle cx="429" cy="15" r="7" fill="black"/>
      <circle cx="982" cy="15" r="7" fill="black"/>
      <circle cx="464" cy="15" r="7" fill="black"/>
      <circle cx="1037" cy="15" r="7" fill="black"/>
      <circle cx="562" cy="15" r="7" fill="black"/>
      <circle cx="1151" cy="15" r="7" fill="black"/>
    </svg>
  </div>

  <div class="card-styled-border d-none d-xl-block">
    <svg width="1920" height="30" viewbox="0 0 1920 30" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-3e955560="">
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M302.884 14.5L423.182 14.5" stroke="#7AB7FF" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(28, 133, 255); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M26.8835 14.5L145.884 14.5" stroke="#31D9C4" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(49, 217, 196); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1442 14.5H1490" stroke="#31D9C4" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(176, 229, 223); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1837 14.5L1899 14.5" stroke="#7AB7FF" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(81, 81, 81); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1561 14.5L1680 14.5" stroke="#F5D475" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(170, 122, 189); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M548.996 14.5L610.996 14.5" stroke="#F4EACA" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(245, 130, 150); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M692.591 14.5H892.591" stroke="#6E009A" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(244, 234, 202); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1362.59 14.5H1410.59" stroke="#E0C7F5" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(81, 81, 81); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1168.59 14.5L1230.59 14.5" stroke="#F37777" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(49, 217, 196); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M999.591 14.5L1061.59 14.5" stroke="#006357" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(174, 211, 255); stroke-dashoffset: 15.8745;"></path>
      </g>
      <circle cx="27.5637" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="145.884" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="195.884" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="250.884" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="423.182" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1561" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1442.31" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1680" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1730" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1785" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1899" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="610.726" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="514.996" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="928.591" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1363" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="963.591" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1097.59" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1132.59" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1230.59" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
    </svg>
  </div>
</article>
