{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--basic-page-full') }}
{{ attach_library('parc/n--events-full') }}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

<article{{attributes.addClass(classes).setAttribute('style','--ne-c-cat:'~color~';')}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="svg-title">
    <h1>
      {% if not training_event %}
        {{ "Events" | t }}
      {% else %}
        {{ "Trainings" | t }}
      {% endif %}
    </h1>
  </div>

  {{ content }}

  <div class="card-styled-border d-xl-none">
    <svg class="svg-footer" width="1280" height="30" viewbox="0 0 1280 30" ref="svg" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g style="mix-blend-mode:multiply"><path class="line1" d="M24 14H224" stroke="#6E009A" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M694 15H742" stroke="#E0C7F5" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M500 14L562 14" stroke="#F37777" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M1089 15L1151 15" stroke="#7AB7FF" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M331 14L393 14" stroke="#006357" stroke-width="16" stroke-linecap="round"/></g>
      <g style="mix-blend-mode:multiply"><path class="line1" d="M813 15L932 15" stroke="#31D9C4" stroke-width="16" stroke-linecap="round"/></g>
      <circle cx="260" cy="15" r="7" fill="black"/>
      <circle cx="815" cy="15" r="7" fill="black"/>
      <circle cx="695" cy="15" r="7" fill="black"/>
      <circle cx="295" cy="15" r="7" fill="black"/>
      <circle cx="930" cy="15" r="7" fill="black"/>
      <circle cx="429" cy="15" r="7" fill="black"/>
      <circle cx="982" cy="15" r="7" fill="black"/>
      <circle cx="464" cy="15" r="7" fill="black"/>
      <circle cx="1037" cy="15" r="7" fill="black"/>
      <circle cx="562" cy="15" r="7" fill="black"/>
      <circle cx="1151" cy="15" r="7" fill="black"/>
    </svg>
  </div>

  <div class="card-styled-border d-none d-xl-block">
    <svg width="1920" height="30" viewbox="0 0 1920 30" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-3e955560="">
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M302.884 14.5L423.182 14.5" stroke="#7AB7FF" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(28, 133, 255); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M26.8835 14.5L145.884 14.5" stroke="#31D9C4" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(49, 217, 196); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1442 14.5H1490" stroke="#31D9C4" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(176, 229, 223); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1837 14.5L1899 14.5" stroke="#7AB7FF" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(81, 81, 81); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1561 14.5L1680 14.5" stroke="#F5D475" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(170, 122, 189); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M548.996 14.5L610.996 14.5" stroke="#F4EACA" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(245, 130, 150); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M692.591 14.5H892.591" stroke="#6E009A" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(244, 234, 202); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1362.59 14.5H1410.59" stroke="#E0C7F5" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(81, 81, 81); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M1168.59 14.5L1230.59 14.5" stroke="#F37777" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(49, 217, 196); stroke-dashoffset: 15.8745;"></path>
      </g>
      <g style="mix-blend-mode:multiply;" data-v-3e955560="">
        <path class="line1" d="M999.591 14.5L1061.59 14.5" stroke="#006357" stroke-width="16" stroke-linecap="round" data-v-3e955560="" style="stroke: rgb(174, 211, 255); stroke-dashoffset: 15.8745;"></path>
      </g>
      <circle cx="27.5637" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="145.884" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="195.884" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="250.884" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="423.182" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1561" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1442.31" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1680" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1730" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1785" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1899" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="610.726" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="514.996" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="928.591" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1363" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="963.591" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1097.59" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1132.59" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
      <circle cx="1230.59" cy="14.5" r="7" fill="black" data-v-3e955560=""></circle>
    </svg>
  </div>
</article>
