{#
/**
 * @file
 * Parc theme implementation to display a paragraph.
 */
#}

{{ attach_library('parc/p--newsletter') }}

{% set collpaseID = 'newsletter-' ~ paragraph.id() %}

{%
  set classes = [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--' ~ paragraph.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}


<div{{attributes.addClass(classes)}}>
  <div class="wrap">
    <div class="d-flex justify-content-end">
      {{ content.field_date }}
    </div>
    {{ content.field_svg }}
  </div>
  {{ content|without('field_svg', 'field_date') }}
</div>
