{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('parc/n--publications-teaser') }}

{% set spID = 'scientific-publications--' ~ node.id() %}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'position-relative',
  ]
%}

<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="w--img">
    {% if content.field_cover.0 %}
      {{content.field_cover}}
    {% else %}
      <img src="/{{ base_path ~ directory }}/img/sp-default.png" alt="Default scientific publications image"/>
    {% endif %}
  </div>

  <div{{content_attributes.addClass('node--cotent')}}>
    <a href="{{ content.field_doi_link.0 }}" class="node--title">
      {{- label.0 -}}

      <svg width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.79956 1H6.32454C6.96259 1 7.56587 1.57529 7.56587 2.18374L7.56587 5.76558" stroke="#040404" stroke-width="1.5" stroke-linecap="round"/>
        <line x1="4.8999" y1="4.161" x2="1.06066" y2="8.00024" stroke="#040404" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    </a>

    <a href="{{ '/scientific-publications#' ~ spID }}" class=" btn btn-clear btn-arrow">
      {{- 'Read more'|t -}}
    </a>
  </div>
</article>
