{#
/**
 * @file
 * Parc override to display a node.
 */
#}

{{ attach_library('edwt/collapse') }}
{{ attach_library('parc/n--publications') }}
{% set spID = 'scientific-publications--' ~ node.id() %}
{% set collpaseID = 'parc--publications-' ~ node.id() %}
{% set keyMessageID = 'key--messages-' ~ node.id() %}

{% set linkPublication = path('<current>') ~ '#' ~ spID %}
{% set linkKey = path('<current>') ~ '#' ~ keyMessageID %}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

{% set c_text = content.field_text_color.0 ? content.field_text_color.0['#markup'] : '#008475' %}
{% set c_bg = content.field_background_color.0 ? content.field_background_color.0['#markup'] : '#b0e6df' %}
<article{{attributes.addClass(classes).setAttribute('style','--cs--item-c:'~c_text~';--cs--item-bg:'~c_bg).setAttribute('id',spID)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div id="publication-anchor-{{ node.id() }}"></div>

  <div class="news-container">
    <div class="row">
      <div class="col-auto col-sp-img">
        {% if content.field_cover.0 %}
          {{content.field_cover}}
        {% else %}
          <img src="/{{ directory }}/img/sp-default.png" alt="Default scientific publications image"/>
        {% endif %}
      </div>

      <div class="col col-sp-content">
        <a href="{{ content.field_doi_link.0 }}" class="node--title">
          {{- label.0 -}}

          <svg width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.79956 1H6.32454C6.96259 1 7.56587 1.57529 7.56587 2.18374L7.56587 5.76558" stroke="#040404" stroke-width="1.5" stroke-linecap="round"/>
            <line x1="4.8999" y1="4.161" x2="1.06066" y2="8.00024" stroke="#040404" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
        </a>

        {% if 'administrator' in user.getroles() %}
          <a href={{ linkPublication }} class="js-copy-to-clipboard btn-copy-to-clipboard">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.576" height="20.575" viewbox="0 0 20.576 20.575">
              <g transform="translate(-15.712 0.288)">
                <path d="M35.288,14.317a.5.5,0,0,0-.179-.405.683.683,0,0,0-.5-.2.545.545,0,0,0-.429.165l-3.539,3.588-1.306-1.306a3.949,3.949,0,0,0-5.461,0l-6.713,6.713a3.647,3.647,0,0,0-1.1,2.709,3.694,3.694,0,0,0,1.1,2.75l1.307,1.307-3.583,3.533a.548.548,0,0,0-.17.435.657.657,0,0,0,.17.473.618.618,0,0,0,.473.209.568.568,0,0,0,.435-.209L19.366,30.5l1.3,1.3a3.666,3.666,0,0,0,2.71,1.135,3.708,3.708,0,0,0,2.747-1.132L32.8,25.091a3.667,3.667,0,0,0,1.135-2.711,3.73,3.73,0,0,0-1.166-2.743l-1.2-1.294,3.5-3.554a.614.614,0,0,0,.208-.472Zm-3.354,6.261a2.489,2.489,0,0,1,.716,1.8,2.524,2.524,0,0,1-.719,1.844L25.222,30.9a2.549,2.549,0,0,1-1.841.755,2.476,2.476,0,0,1-1.771-.724l-1.366-1.262L22.2,27.7a.674.674,0,0,0,.2-.5.55.55,0,0,0-.17-.435.567.567,0,0,0-.434-.209.609.609,0,0,0-.473.209l-1.959,1.956-1.3-1.3a2.548,2.548,0,0,1-.755-1.842,2.508,2.508,0,0,1,.755-1.8l6.713-6.713a2.549,2.549,0,0,1,1.842-.756,2.512,2.512,0,0,1,1.8.756l1.3,1.3L27.8,20.295a.684.684,0,0,0-.2.5.581.581,0,0,0,.6.6.593.593,0,0,0,.474-.17l1.957-1.957,1.3,1.3Z" transform="translate(1 -14)" fill="var(--body-color)"/>
              </g>
            </svg>
            <span>copied to clipboard</span>
          </a>
        {% endif %}

        {{ content.field_authors}}

        <div class="w--btn">
          <button class="btn btn-clear btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collpaseID }}" aria-expanded="false" aria-controls="{{ collpaseID }}">
            <span class="more">
              {{- 'Read more'|t -}}
            </span>

            <span class="less">
              {{- 'Read less'|t -}}
            </span>
          </button>

          <div class="bb"></div>
        </div>
      </div>

      <div class="collapse" id="{{collpaseID}}">
        <div class="collpase-row row">
          <div class="col">

            {{ content.group_details }}

            {% if content.group_key_messages %}
              <div id="{{ keyMessageID }}" class="node--section">
                <label class="mb-4">
                  {{- 'Key Messages' -}}
                </label>

                {% if 'administrator' in user.getroles() %}
                  <a href={{ linkKey }} class="js-copy-to-clipboard btn-copy-to-clipboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.576" height="10.575" viewbox="0 0 20.576 20.575">
                      <g transform="translate(-15.712 0.288)">
                        <path d="M35.288,14.317a.5.5,0,0,0-.179-.405.683.683,0,0,0-.5-.2.545.545,0,0,0-.429.165l-3.539,3.588-1.306-1.306a3.949,3.949,0,0,0-5.461,0l-6.713,6.713a3.647,3.647,0,0,0-1.1,2.709,3.694,3.694,0,0,0,1.1,2.75l1.307,1.307-3.583,3.533a.548.548,0,0,0-.17.435.657.657,0,0,0,.17.473.618.618,0,0,0,.473.209.568.568,0,0,0,.435-.209L19.366,30.5l1.3,1.3a3.666,3.666,0,0,0,2.71,1.135,3.708,3.708,0,0,0,2.747-1.132L32.8,25.091a3.667,3.667,0,0,0,1.135-2.711,3.73,3.73,0,0,0-1.166-2.743l-1.2-1.294,3.5-3.554a.614.614,0,0,0,.208-.472Zm-3.354,6.261a2.489,2.489,0,0,1,.716,1.8,2.524,2.524,0,0,1-.719,1.844L25.222,30.9a2.549,2.549,0,0,1-1.841.755,2.476,2.476,0,0,1-1.771-.724l-1.366-1.262L22.2,27.7a.674.674,0,0,0,.2-.5.55.55,0,0,0-.17-.435.567.567,0,0,0-.434-.209.609.609,0,0,0-.473.209l-1.959,1.956-1.3-1.3a2.548,2.548,0,0,1-.755-1.842,2.508,2.508,0,0,1,.755-1.8l6.713-6.713a2.549,2.549,0,0,1,1.842-.756,2.512,2.512,0,0,1,1.8.756l1.3,1.3L27.8,20.295a.684.684,0,0,0-.2.5.581.581,0,0,0,.6.6.593.593,0,0,0,.474-.17l1.957-1.957,1.3,1.3Z" transform="translate(1 -14)" fill="var(--c-publications)"/>
                      </g>
                    </svg>
                    <span>copied to clipboard</span>
                  </a>
                  {% else %}
                {% endif %}

                <div class="w--carosuel-scroll">
                  {{ content.group_key_messages }}
                </div>
              </div>

            {% endif %}

            {{ content.group_dropdown_content }}
            <div class="bb"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
