{#
/**
 * @file
 * Parc override to display a taxonomy term.
 */
#}

{{ attach_library('parc/t--thematic-areas--header') }}

{%
  set classes = [
    't-term',
    't-term--' ~ term.bundle|clean_class,
    view_mode ? 't-term--' ~ term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<div{{attributes.setAttribute('id','taxonomy-term-'~term.id).setAttribute('style','--tta--bg:'~content.field_bg_color.0|render).addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="container-fluid d-flex justify-content-md-end">
    {{ content|without('field_bg_color') }}
  </div>
</div>

<div class="container-fluid">
  <div class="svg-title">
    <svg width="760" height="65" viewbox="0 0 760 65" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_484_2370)">
        <path d="M677.516 10.4736L669.296 30.5957M655.363 62.3022L662.916 45.7031" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M707.985 62.3022L700.368 45.7349" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M672.946 38.3081H689.926" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M685.194 10.4736L694.208 30.564" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M409.676 3.11035C417.261 4.53857 423.196 8.82324 426.465 15.0757" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M426.467 49.2578C423.008 55.5737 416.882 59.9536 409.297 61.477" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M394.696 61.3501C386.603 59.1602 380.541 53.3838 377.589 45.1318" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M394.886 3.45947C387.968 5.36377 382.54 9.83887 379.24 16.1548C377.24 19.9951 376.193 24.248 376.097 28.5962L376.066 29.707" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M130.663 30.1831V9.90234" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M130.663 54.5581V44.4336" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M138.064 61.8896H169.549" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M169.483 3.01514H138.03" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M137.996 33.7695H162.879" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M605.881 30.0561V9.77539" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M605.881 54.4312V44.3066" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M613.214 61.8262H644.667" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M644.667 2.88818H613.214" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M613.214 33.6426H638.097" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M362.26 44.6558V62.0166" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M362.26 2.69775V30.4688" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M65.1289 44.6558V62.0166" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M72.3938 37.356H104.894" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M65.1289 2.69775V30.4688" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M112.192 44.6558V62.0166" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M112.192 2.69775V30.4688" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M234.105 2.82471L218.204 42.2119" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M208.391 42.2437L192.014 2.82471" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M185.067 10.1562V30.2783" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M185.067 44.9731V62.207" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M241.021 10.1562V30.2783" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M241.021 44.9731V62.207" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M577.098 44.9097L580.272 50.5908L586.049 61.5405" stroke="#008475" stroke-width="6.29513" stroke-linecap="round"/>
        <path d="M548.403 62.2388V53.5742V44.9097" stroke="#008475" stroke-width="6.2412" stroke-linecap="round"/>
        <path d="M548.403 29.7388V19.8364V9.93408" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M555.926 37.4829H566.844M555.926 2.88818H573.414C584.046 2.88818 590.838 9.80713 590.838 20.1538C590.838 27.3267 587.315 33.103 581.475 35.8008" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M27.8955 62.1753V44.8779" stroke="#008475" stroke-width="6.23043" stroke-linecap="round"/>
        <path d="M27.8955 30.0244V10.3467" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M34.8838 2.85645H52.7842" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M2.70215 2.76123H20.6025" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M276.028 10.3784L267.808 30.4687M253.906 62.207L261.46 45.6079" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M306.529 62.207L298.912 45.6396" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M271.49 38.2129H288.47" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M283.738 10.3784L292.72 30.4687" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M326.334 62.1753V44.8779" stroke="#008475" stroke-width="6.23043" stroke-linecap="round"/>
        <path d="M326.334 29.9927V10.3149" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M333.314 2.82471H351.215" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M301.135 2.72949H319.035" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M716.937 47.0044C717.476 54.1138 722.015 59.1284 729.092 61.0327" stroke="#008475" stroke-width="6.29513" stroke-linecap="round"/>
        <path d="M754.988 18.5034C754.29 11.0767 750.037 5.9668 743.309 4.03076" stroke="#008475" stroke-width="6.29513" stroke-linecap="round"/>
        <path d="M729.471 3.68164C723.98 5.39551 719.917 8.63281 717.918 12.981" stroke="#008475" stroke-width="6.29513" stroke-linecap="round"/>
        <path d="M743.79 61.0327C751.629 59.0015 756.39 53.5107 756.39 45.7983V44.6875" stroke="#008475" stroke-width="6.29513" stroke-linecap="round"/>
        <path d="M749.153 33.4521C746.773 32.8809 725.477 27.041 722.049 25.9619" stroke="#008475" stroke-width="6.29513" stroke-linecap="round"/>
        <path d="M665.904 41.1328C667.429 41.1328 668.665 39.8966 668.665 38.3716C668.665 36.8466 667.429 35.6104 665.904 35.6104C664.379 35.6104 663.143 36.8466 663.143 38.3716C663.143 39.8966 664.379 41.1328 665.904 41.1328Z" fill="#008475"/>
        <path d="M681.457 6.44287C682.982 6.44287 684.218 5.20663 684.218 3.68164C684.218 2.15666 682.982 0.92041 681.457 0.92041C679.932 0.92041 678.695 2.15666 678.695 3.68164C678.695 5.20663 679.932 6.44287 681.457 6.44287Z" fill="#008475"/>
        <path d="M697.002 41.0693C698.527 41.0693 699.763 39.8331 699.763 38.3081C699.763 36.7831 698.527 35.5469 697.002 35.5469C695.477 35.5469 694.24 36.7831 694.24 38.3081C694.24 39.8331 695.477 41.0693 697.002 41.0693Z" fill="#008475"/>
        <path d="M402.091 64.9365C403.616 64.9365 404.853 63.7003 404.853 62.1753C404.853 60.6503 403.616 59.4141 402.091 59.4141C400.566 59.4141 399.33 60.6503 399.33 62.1753C399.33 63.7003 400.566 64.9365 402.091 64.9365Z" fill="#008475"/>
        <path d="M376.132 40.3076C377.657 40.3076 378.894 39.0714 378.894 37.5464C378.894 36.0214 377.657 34.7852 376.132 34.7852C374.607 34.7852 373.371 36.0214 373.371 37.5464C373.371 39.0714 374.607 40.3076 376.132 40.3076Z" fill="#008475"/>
        <path d="M402.091 5.58594C403.616 5.58594 404.853 4.34969 404.853 2.82471C404.853 1.29972 403.616 0.0634766 402.091 0.0634766C400.566 0.0634766 399.33 1.29972 399.33 2.82471C399.33 4.34969 400.566 5.58594 402.091 5.58594Z" fill="#008475"/>
        <path d="M756.422 40.3394C757.947 40.3394 759.184 39.1031 759.184 37.5781C759.184 36.0531 757.947 34.8169 756.422 34.8169C754.897 34.8169 753.661 36.0531 753.661 37.5781C753.661 39.1031 754.897 40.3394 756.422 40.3394Z" fill="#008475"/>
        <path d="M717.51 22.8833C719.035 22.8833 720.271 21.6471 720.271 20.1221C720.271 18.5971 719.035 17.3608 717.51 17.3608C715.985 17.3608 714.749 18.5971 714.749 20.1221C714.749 21.6471 715.985 22.8833 717.51 22.8833Z" fill="#008475"/>
        <path d="M736.421 64.4605C737.946 64.4605 739.183 63.2242 739.183 61.6992C739.183 60.1742 737.946 58.938 736.421 58.938C734.896 58.938 733.66 60.1742 733.66 61.6992C733.66 63.2242 734.896 64.4605 736.421 64.4605Z" fill="#008475"/>
        <path d="M736.421 5.77637C737.946 5.77637 739.183 4.54012 739.183 3.01514C739.183 1.49015 737.946 0.253906 736.421 0.253906C734.896 0.253906 733.66 1.49015 733.66 3.01514C733.66 4.54012 734.896 5.77637 736.421 5.77637Z" fill="#008475"/>
        <path d="M362.258 40.1807C363.783 40.1807 365.02 38.9444 365.02 37.4194C365.02 35.8944 363.783 34.6582 362.258 34.6582C360.733 34.6582 359.497 35.8944 359.497 37.4194C359.497 38.9444 360.733 40.1807 362.258 40.1807Z" fill="#008475"/>
        <path d="M185.066 40.498C186.591 40.498 187.827 39.2618 187.827 37.7368C187.827 36.2118 186.591 34.9756 185.066 34.9756C183.541 34.9756 182.305 36.2118 182.305 37.7368C182.305 39.2618 183.541 40.498 185.066 40.498Z" fill="#008475"/>
        <path d="M185.066 5.58594C186.591 5.58594 187.827 4.34969 187.827 2.82471C187.827 1.29972 186.591 0.0634766 185.066 0.0634766C183.541 0.0634766 182.305 1.29972 182.305 2.82471C182.305 4.34969 183.541 5.58594 185.066 5.58594Z" fill="#008475"/>
        <path d="M241.02 40.3711C242.545 40.3711 243.781 39.1348 243.781 37.6099C243.781 36.0849 242.545 34.8486 241.02 34.8486C239.495 34.8486 238.259 36.0849 238.259 37.6099C238.259 39.1348 239.495 40.3711 241.02 40.3711Z" fill="#008475"/>
        <path d="M241.02 5.58594C242.545 5.58594 243.781 4.34969 243.781 2.82471C243.781 1.29972 242.545 0.0634766 241.02 0.0634766C239.495 0.0634766 238.259 1.29972 238.259 2.82471C238.259 4.34969 239.495 5.58594 241.02 5.58594Z" fill="#008475"/>
        <path d="M213.28 50.5273C214.805 50.5273 216.041 49.2911 216.041 47.7661C216.041 46.2411 214.805 45.0049 213.28 45.0049C211.755 45.0049 210.519 46.2411 210.519 47.7661C210.519 49.2911 211.755 50.5273 213.28 50.5273Z" fill="#008475"/>
        <path d="M65.1274 40.1807C66.6524 40.1807 67.8887 38.9444 67.8887 37.4194C67.8887 35.8944 66.6524 34.6582 65.1274 34.6582C63.6025 34.6582 62.3662 35.8944 62.3662 37.4194C62.3662 38.9444 63.6025 40.1807 65.1274 40.1807Z" fill="#008475"/>
        <path d="M112.198 40.1807C113.723 40.1807 114.959 38.9444 114.959 37.4194C114.959 35.8944 113.723 34.6582 112.198 34.6582C110.673 34.6582 109.437 35.8944 109.437 37.4194C109.437 38.9444 110.673 40.1807 112.198 40.1807Z" fill="#008475"/>
        <path d="M130.669 40.2441C132.194 40.2441 133.431 39.0079 133.431 37.4829C133.431 35.9579 132.194 34.7217 130.669 34.7217C129.144 34.7217 127.908 35.9579 127.908 37.4829C127.908 39.0079 129.144 40.2441 130.669 40.2441Z" fill="#008475"/>
        <path d="M130.669 5.77637C132.194 5.77637 133.431 4.54012 133.431 3.01514C133.431 1.49015 132.194 0.253906 130.669 0.253906C129.144 0.253906 127.908 1.49015 127.908 3.01514C127.908 4.54012 129.144 5.77637 130.669 5.77637Z" fill="#008475"/>
        <path d="M130.669 64.4287C132.194 64.4287 133.431 63.1925 133.431 61.6675C133.431 60.1425 132.194 58.9062 130.669 58.9062C129.144 58.9062 127.908 60.1425 127.908 61.6675C127.908 63.1925 129.144 64.4287 130.669 64.4287Z" fill="#008475"/>
        <path d="M605.886 40.1172C607.411 40.1172 608.647 38.8809 608.647 37.356C608.647 35.831 607.411 34.5947 605.886 34.5947C604.361 34.5947 603.125 35.831 603.125 37.356C603.125 38.8809 604.361 40.1172 605.886 40.1172Z" fill="#008475"/>
        <path d="M605.886 5.64941C607.411 5.64941 608.647 4.41317 608.647 2.88818C608.647 1.3632 607.411 0.126953 605.886 0.126953C604.361 0.126953 603.125 1.3632 603.125 2.88818C603.125 4.41317 604.361 5.64941 605.886 5.64941Z" fill="#008475"/>
        <path d="M605.886 64.3018C607.411 64.3018 608.647 63.0655 608.647 61.5405C608.647 60.0155 607.411 58.7793 605.886 58.7793C604.361 58.7793 603.125 60.0155 603.125 61.5405C603.125 63.0655 604.361 64.3018 605.886 64.3018Z" fill="#008475"/>
        <path d="M505.971 10.3149L497.751 30.437M483.85 62.1753L491.403 45.5762" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M536.439 62.1753L528.822 45.6079" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M501.4 38.1812H518.38" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M513.655 10.3149L522.669 30.437" stroke="#008475" stroke-width="6.10363" stroke-linecap="round"/>
        <path d="M494.357 41.0059C495.882 41.0059 497.118 39.7696 497.118 38.2446C497.118 36.7196 495.882 35.4834 494.357 35.4834C492.832 35.4834 491.596 36.7196 491.596 38.2446C491.596 39.7696 492.832 41.0059 494.357 41.0059Z" fill="#008475"/>
        <path d="M509.91 6.28418C511.435 6.28418 512.671 5.04794 512.671 3.52295C512.671 1.99796 511.435 0.761719 509.91 0.761719C508.385 0.761719 507.148 1.99796 507.148 3.52295C507.148 5.04794 508.385 6.28418 509.91 6.28418Z" fill="#008475"/>
        <path d="M525.461 40.9424C526.986 40.9424 528.223 39.7061 528.223 38.1812C528.223 36.6562 526.986 35.4199 525.461 35.4199C523.936 35.4199 522.7 36.6562 522.7 38.1812C522.7 39.7061 523.936 40.9424 525.461 40.9424Z" fill="#008475"/>
        <path d="M548.41 5.58594C549.935 5.58594 551.171 4.34969 551.171 2.82471C551.171 1.29972 549.935 0.0634766 548.41 0.0634766C546.885 0.0634766 545.648 1.29972 545.648 2.82471C545.648 4.34969 546.885 5.58594 548.41 5.58594Z" fill="#008475"/>
        <path d="M574.24 40.3076C575.765 40.3076 577.001 39.0714 577.001 37.5464C577.001 36.0214 575.765 34.7852 574.24 34.7852C572.715 34.7852 571.479 36.0214 571.479 37.5464C571.479 39.0714 572.715 40.3076 574.24 40.3076Z" fill="#008475"/>
        <path d="M548.41 40.3076C549.935 40.3076 551.171 39.0714 551.171 37.5464C551.171 36.0214 549.935 34.7852 548.41 34.7852C546.885 34.7852 545.648 36.0214 545.648 37.5464C545.648 39.0714 546.885 40.3076 548.41 40.3076Z" fill="#008475"/>
        <path d="M27.7993 5.61768C29.3243 5.61768 30.5605 4.38143 30.5605 2.85645C30.5605 1.33146 29.3243 0.0952148 27.7993 0.0952148C26.2743 0.0952148 25.0381 1.33146 25.0381 2.85645C25.0381 4.38143 26.2743 5.61768 27.7993 5.61768Z" fill="#008475"/>
        <path d="M27.9009 40.2759C29.4259 40.2759 30.6621 39.0396 30.6621 37.5146C30.6621 35.9897 29.4259 34.7534 27.9009 34.7534C26.3759 34.7534 25.1396 35.9897 25.1396 37.5146C25.1396 39.0396 26.3759 40.2759 27.9009 40.2759Z" fill="#008475"/>
        <path d="M264.44 41.0693C265.965 41.0693 267.201 39.8331 267.201 38.3081C267.201 36.7831 265.965 35.5469 264.44 35.5469C262.915 35.5469 261.679 36.7831 261.679 38.3081C261.679 39.8331 262.915 41.0693 264.44 41.0693Z" fill="#008475"/>
        <path d="M279.993 6.34766C281.518 6.34766 282.754 5.11141 282.754 3.58643C282.754 2.06144 281.518 0.825195 279.993 0.825195C278.468 0.825195 277.231 2.06144 277.231 3.58643C277.231 5.11141 278.468 6.34766 279.993 6.34766Z" fill="#008475"/>
        <path d="M295.546 40.9741C297.071 40.9741 298.307 39.7379 298.307 38.2129C298.307 36.6879 297.071 35.4517 295.546 35.4517C294.021 35.4517 292.784 36.6879 292.784 38.2129C292.784 39.7379 294.021 40.9741 295.546 40.9741Z" fill="#008475"/>
        <path d="M326.272 5.58594C327.797 5.58594 329.033 4.34969 329.033 2.82471C329.033 1.29972 327.797 0.0634766 326.272 0.0634766C324.747 0.0634766 323.511 1.29972 323.511 2.82471C323.511 4.34969 324.747 5.58594 326.272 5.58594Z" fill="#008475"/>
        <path d="M326.333 40.2441C327.857 40.2441 329.094 39.0079 329.094 37.4829C329.094 35.9579 327.857 34.7217 326.333 34.7217C324.808 34.7217 323.571 35.9579 323.571 37.4829C323.571 39.0079 324.808 40.2441 326.333 40.2441Z" fill="#008475"/>
      </g>
      <defs>
        <clipPath id="clip0_484_2370">
          <rect width="759.18" height="65" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </div>
</div>
