{#
/**
 * @file
 * Parc override to display a taxonomy term.
 */
#}

{{ attach_library('parc/t--thematic-areas--header') }}

{%
  set classes = [
    't-term',
    't-term--' ~ term.bundle|clean_class,
    view_mode ? 't-term--' ~ term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<div{{attributes.setAttribute('id','taxonomy-term-'~term.id).setAttribute('style','--tta--bg:'~content.field_bg_color.0|render).addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="container-fluid">
    {{ content|without('field_bg_color') }}
  </div>
</div>

<div class="container-fluid">
  <div class="svg-title">
    <h1>{{ name }}</h1>
  </div>
</div>
