{{ attach_library('parc/t--media-assets') }}

<div class="media-asset" style="--bg-color: {{ term.field_bg_color.color }}; --text-color: {{ term.field_color.color }}">
  {% set file_url = file_url(term.field_file.entity.fileuri) %}
  <a download href="{{ file_url }}">
    {{ name }}
  </a>
</div>
