{#
/**
 * @file
 * Parc override to display a technical documentation page.
 */
#}

{{ attach_library('parc/n--documentation-full') }}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    not node.isPublished() ? 'node--unpublished',
    'mx-auto'
  ]
%}

<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if label %}
    <h1 class="documentation__title">{{ label }}</h1>
  {% endif %}
  {{ title_suffix }}

  <div class="documentation__body">
    {{ content.body }}

    {% if book_tree %}
      <nav class="documentation__tree" aria-label="{{ 'Documentation contents'|t }}">
        {{ book_tree }}
      </nav>
    {% endif %}

    {{ content.links }}
    {{ content.book_navigation }}
  </div>
</article>
